{% extends 'device_manage/base/base.html' %}
<!-- 分为客户/测试者/管理员三种身份，通过登录方式判断身份，客户不用登陆
客户只能查看基础页面，管理员可以查看所有信息-->

{#修改网页标题title#}
{% block title %}
    测试记录详情
{% endblock %}

{% block personal %}
    <div href="{% url 'personal_home' %}?id={{ staff_number }}" class="nav-link">
{% endblock %}

{# 通过继承在新页面改写用户名 #}
{% block user %}
    {{ name }}
{% endblock %}

{% block job %}
    身份:{{ job }}
{% endblock %}

{# 右边个人信息栏 #}
{% block self %}
    {{ name }}
{% endblock %}

{# 登录登出图标 #}
{% block login_logout %}
    {% if name == '客户'%}
        <a class="btn btn-block px-0 btn-rounded btn-upgrade" href="/login/">
            <i class="icon-badge mx-2"></i>登录
        </a>
    {% else %}
        <a class="btn btn-block px-0 btn-rounded btn-upgrade" href="/logout/">
            <i class="icon-badge mx-2"></i>注销
        </a>
    {% endif %}
{% endblock %}

{# 右边选项栏 #}
{% block option %}
    {% if name == '客户' %}
        <a class="dropdown-item" href="{% url 'index' %}"><i class="dropdown-item-icon icon-speech text-primary"></i> 查看设备</a>
        <a class="dropdown-item" href="{% url 'about' %}"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item" href="{% url 'login' %}"><i class="dropdown-item-icon icon-login text-primary"></i>登录</a>
    {% elif name == '管理员' %}
        <a class="dropdown-item" href="{% url 'manage_demand' %}?page=1"><i class="dropdown-item-icon icon-camera text-primary"></i>待分配<span class="badge badge-pill badge-danger" id="allot" onload="f1()">-</span> </a>
        <a class="dropdown-item" href="{% url 'test_history' %}?page=1"><i class="dropdown-item-icon icon-calendar text-primary"></i> 测试记录 </a>
        <a class="dropdown-item" href="{% url 'parts' %}"><i class="dropdown-item-icon icon-map text-primary"></i>查看配件</a>
        <a class="dropdown-item" href="{% url 'about' %}"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item" href="{% url 'logout' %}"><i class="dropdown-item-icon icon-power text-primary"></i> 注销</a>
    {% else %}
        <a class="dropdown-item" href="{% url 'test_history' %}?page=1"><i class="dropdown-item-icon icon-calendar text-primary"></i> 测试记录 </a>
        <a class="dropdown-item" href="{% url 'parts' %}"><i class="dropdown-item-icon icon-map text-primary"></i>查看配件</a>
        <a class="dropdown-item" href="{% url 'about' %}"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item" href="{% url 'logout' %}"><i class="dropdown-item-icon icon-power text-primary"></i> 注销</a>
    {% endif %}
{% endblock %}

{# 管理员-设备管理选项 #}
{% block admin %}
    {% if is_admin == 1 %}
    <li class="nav-item nav-category">
      <a class="nav-link" data-toggle="collapse" href="#admin" aria-expanded="false" aria-controls="admin">
        <span class="menu-title nav-category">管理选项</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
      <div class="collapse" id="admin">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'test_history' %}?page=1">测试记录汇总<i class="icon-calendar menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'manage_devices' %}">设备管理<i class="icon-camera menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'manage_demand' %}?page=1">需求分配<i class="icon-bag menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'many_devices' %}">导入系统<i class="icon-bag menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% endif %}
{% endblock %}

{# 判断是否为需求发起人 #}
{% block init %}
    {% if is_init == 1 %}
    <li class="nav-item nav-category">
      <a class="nav-link" data-toggle="collapse" href="#demand" aria-expanded="false" aria-controls="demand">
        <span class="menu-title nav-category">需求管理</span>
        <i class="icon-list menu-icon"></i>
      </a>
      <div class="collapse" id="demand">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'sample_info' %}">发起需求<i class="icon-plus menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'demand_recoder' %}">需求记录<i class="icon-hourglass menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">帮助<i class="icon-question menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% endif %}
{% endblock %}

{% block staff %}
    {% if name == '客户' %}
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="menu-title">更多功能</span>
        <i class=" icon-wrench menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-title nav-category">公司介绍</span>
        <i class="icon-list menu-icon"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="https://www.longsys.com/">公司官网<i class="icon-home menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">关于我们<i class="icon-people menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">帮助<i class="icon-question menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'personal_task' %}">
        <span class="menu-title">设备测试</span>
        <i class=" icon-wrench menu-icon"></i>
      </a>
    </li>
    <li class="nav-item nav-category">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-title">个人中心</span>
        <i class="icon-user menu-icon"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'test_history' %}?page=1"> 个人记录 <i class="icon-calendar menu-icon"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'parts' %}"> 查看配件 <i class="icon-map menu-icon"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'about' %}"> 关于 <i class="icon-question menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% endif %}
{% endblock %}

{% block head %}
    <style>
        #progress span{
            border: solid 1px grey;
            border-radius: 5px;
        }

        #f_s select{
            border:0;
            width: 15px;
        }

        #export_record:hover {
            box-shadow: #969696 0 5px 5px;
        }

        #model .form-check{
            font-size: 12px;
        }
    </style>
{% endblock %}
{# 修改操作框内容 #}
{% block content %}
    <div id="content">
{#    <div class="back">#}
{#        <a href="{% url 'test_history' %}?page=1"><button class="btn btn-outline-dark" style="font-family: 微软雅黑">&lt;&lt;返回</button></a>#}
{#    </div>#}
    <div class="back">
        <a href="javascript:history.back(-1)"><button class="btn btn-outline-dark" style="font-family: 微软雅黑">&lt;&lt;返回</button></a>
    </div>
    <div class="export_record" style="padding: 20px;background-color: #cbd3da">
        <span>选择报告导出内容(不勾选默认导出所有信息):</span><br>
        <div class="form-check" style="width: 90px; display: inline-block;">
            <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input" id="card_num"> 卡数量
            </label>
        </div>
        <div class="form-check" style="width: 90px; display: inline-block;">
            <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input" id="test_cycle"> 测试周期
            </label>
        </div>
        <div class="form-check" style="width: 130px; display: inline-block;">
            <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input" id="compatible_ver"> 兼容性测试版本
            </label>
        </div>
        <div class="form-check" style="width: 120px; display: inline-block;">
            <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input" id="device_support"> 是否支持4K
            </label>
        </div>
        <div class="form-check" style="width: 90px; display: inline-block;">
            <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input" id="device_card_slog"> 卡槽
            </label>
        </div>
        <div class="form-check" style="width: 90px; display: inline-block;">
            <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input" id="card_num_1"> 卡片数量
            </label>
        </div>
        <div class="form-check" style="width: 90px; display: inline-block;">
            <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input" id="card_id"> 卡片编号
            </label>
        </div>
        <div class="form-check" style="width: 90px; display: inline-block;">
            <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input" id="user"> 测试人员
            </label>
        </div>
        <div class="form-check" style="width: 90px; display: inline-block;">
            <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input" id="remark"> 备注
            </label>
        </div>
        <div class="form-check" style="width: 90px; display: inline-block;">
            <label class="form-check-label text-muted">
                <input type="checkbox" class="form-check-input" id="fail_pro"> 失败项目
            </label>
        </div>
        <br><button type="submit" class="btn btn-primary" id="export_record" style="width: 140px;height: 10px;line-height: 2px" onclick="export_record()">导出报告</button>
    </div>
    <div class="col-md-12 table-responsive" id="history" style="background-color: white">
        <table class="table table-hover table-bordered text-center">
            <tr>
                <th></th>
                <th>版本</th>
                <td id="testver" title="点击可编辑" onclick="ed_testver()">{{ requirements.ver }}</td>
                <th>搭配</th>
                <td colspan="2" onclick="ed_collocation()" id="match">{{ requirements.match }}</td>
                <th>卡数量</th>
                <td colspan="2">{{ requirements.sample_quantity }}</td>
                <th>测试周期</th>
                <td>{{ requirements.start_time|date:"Y-m-d" }}..{{ requirements.end_time|date:"Y-m-d" }}</td>
            </tr>
            <tr>
                <th></th>
                <th colspan="3">兼容性测试版本</th>
                <td colspan="2">
                 <label>
                    <select name="" id="slt" onchange="ed_ver(this.id)" style="width: 100px;border-radius: 5px;">
                        <option value="" disabled selected>{{ requirements.compatible_ver }}</option>
                        {% for item in ver %}
                            <option id="">{{ item }}</option>
                        {% endfor %}
                    </select>
                </label>
            </td>
                <th>平台总数</th>
                <td colspan="2">{{ dev_num }}</td>
                <th>Fail平台数</th>
                <td>{{ fail_num }}</td>
                <th>SN</th>
                <td id="sn">{{ requirements.SN }}</td>
            </tr>
        </table>
        <table class="table table-hover table-bordered text-center" id="table_content">
            <tr>
                <th></th>
                <th>测试设备
                    <select name="device_type" id="device_type" style="width: 20px" onchange="choose_result(this.id)">
                        <option value="" style="display: none"> </option>
                        {% for device_t in device_type %}
                            <option value={{ device_t }}>&nbsp;{{ device_t }}&nbsp;</option>
                        {% endfor %}
                    </select>
                </th>
                <th>设备编号</th>
                <th>设备品牌
                    <select name="device_brand" id="device_brand" style="width: 20px" onchange="choose_result(this.id)">
                        <option value="" style="display: none"> </option>
                        {% for device_b in device_brand %}
                            <option value={{ device_b }}>&nbsp;{{ device_b }}&nbsp;</option>
                        {% endfor %}
                    </select>
                </th>
                <th>型号
                    <select name="device_spec" id="device_spec" style="width: 20px" onchange="choose_result(this.id)">
                        <option value="" style="display: none"> </option>
                        {% for device_s in device_spec %}
                            <option value={{ device_s }}>&nbsp;{{ device_s }}&nbsp;</option>
                        {% endfor %}
                    </select>
                </th>
                <th>是否支持4k
                    <select name="support" id="support" style="width: 20px" onchange="choose_result(this.id)">
                        <option value="" style="display: none"> </option>
                        <option value='0'>&nbsp;不支持&nbsp;</option>
                        <option value='1'>&nbsp;支持4K&nbsp;</option>
                        <option value='2'>&nbsp;支持6K&nbsp;</option>
                    </select>
                </th>
                <th>卡槽
                    <select name="card_slog" id="card_slog" style="width: 20px" onchange="choose_result(this.id)">
                        <option value="" style="display: none"> </option>
                        {% for card_s in card_slog %}
                            <option value={{ card_s }}>&nbsp;{{ card_s }}&nbsp;</option>
                        {% endfor %}
                    </select>
                </th>
                <th>卡片数量</th>
                <th>卡片编号</th>
                <th>测试结果
                    <select name="result" id="result" style="width: 20px" onchange="choose_result(this.id)">
                        <option value="" style="display: none"> </option>
                        <option value=" ">&nbsp;待测&nbsp;</option>
                        <option value="0">&nbsp;fail&nbsp;</option>
                        <option value="1">&nbsp;pass&nbsp;</option>
                    </select>
                </th>
                <th>测试人员
                    <select name="staff" id="staff" style="width: 20px" onchange="choose_result(this.id)">
                        <option value="" style="display: none"> </option>
                        {% for staff in staff_ls %}
                            <option value={{ staff }}>&nbsp;{{ staff }}&nbsp;</option>
                        {% endfor %}
                    </select>
                </th>
                <th>备注</th>
                <th>fail item
                    <select name="f_pro" id="f_pro" style="width: 20px" onchange="choose_result(this.id)">
                        <option value="" style="display: none"> </option>
                        {% for fail_p in fail_ls %}
                            <option value={{ fail_p }}>&nbsp;{{ fail_p }}&nbsp;</option>
                        {% endfor %}
                    </select>
                </th>
            </tr>
            {% for h in history %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ h.task.device.device_type }}</td>
                <td>{{ h.task.device.device_id }}</td>
                <td>{{ h.task.device.device_brand }}</td>
                <td>{{ h.task.device.device_spec }}</td>
                <td>
                    {% if h.task.device.device_support == 1 %}
                        是
                    {% else %}
                        否
                    {% endif %}
                </td>
                <td>{{ h.task.device.device_card_slog }}</td>
                <td>{{ h.task.card_num }}</td>
                <td>{{ h.task.card_id }}</td>
                {% if h.task.is_NA == True %}
                    <td>N/A</td>
                {% else %}
                    {% if h.task.result == 1 %}
                        <td style="color: #58d8a3">pass</td>
                    {% elif h.task.result == 0 %}
                        <td id="fail" style="color: red;" onclick="check_select('{{ h.task.device.device_type_id }}')">fail</td>
                    {% else %}
                        <td style="color: orange">待测</td>
                    {% endif %}
                {% endif %}
                <td>{{ h.task.user }}</td>
                <td>{{ h.remark }}</td>
                <td id="{{ h.task.id }}" onclick='fail_step_show("{{ h.fail_step }}")' title="点击查看测试进度">{{ h.fail_pro }}</td>
            </tr>
                <div id="model" class="table-responsive" style="position:fixed;width:50%;display: none;margin-left:15%;top:20%;background-color: rgb(236,240,244);border-radius: 3px;box-shadow: #969696 0 10px 10px;padding: 10px">
                <div style="margin-left: 10px;font-size: 12px">
                    <button type="button" class="close" data-dismiss="collocation" aria-label="Close" onclick="check_select();window.location.reload()"><span aria-hidden="true" style="color: black">&times;</span></button>
                    <h5 style="width: 100%;margin: auto;">选择失败项目</h5>
                    <hr>
                    <div id="f_s" style="margin: auto">
                        {% for pro in fail_ls %}
                          <div class="form-check" style="margin-left:10px;display: inline-block;">
                            <label class="form-check-label text-muted">
                                <input type="checkbox" class="form-check-input" id={{ pro }}> {{ pro }}
                            </label>
                            <select name='step{{ pro }}' id='step{{ pro }}' style="font-size: 0.875rem;width: 15px;height: 15px;border: 0;">
                                <option value="" disabled selected hidden></option>
                                {% for i in cnt_ls %}
                                    {% if i == 1 %}
                                        <option value=''>第{{ i }}次</option>
                                    {% else %}
                                        <option value={{ i }}>第{{ i }}次</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                          </div>
                        {% endfor %}
                    </div>
                    <div class="mt-3" style="width: 150px;margin: auto;">
                        <button type="button" class="btn btn-primary" style="width: 140px;height: 10px;line-height: 2px" onclick="check_select_hide({{ h.task.id }})">确认</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-12 text-center">
                <div class="btn-group" role="group" style="margin-top: 20px">
                        <a style="border: none" href="/history_detail/id/{{ index }}/page/1"><button class="btn btn-outline-dark">返回首页</button></a>
                    {% if history.has_previous %}
                        <a href="/history_detail/id/{{ index }}/page/{{ history.previous_page_number }}"><button class="btn btn-outline-dark"><span class="icon-arrow-left">上一页</span></button></a>
                    {% else %}
                        <a href="javascript:void(0);" onclick="window.alert('没有上一页哦')"><button class="btn btn-outline-dark"><span class="icon-arrow-left">上一页</span></button></a>
                    {% endif %}
                    {% for page in history.paginator.page_range %}
                        {% if page > history.number|add:-2 and page < history.number|add:2 %}
                            <a href="/history_detail/id/{{ index }}/page/{{ page }}"><button class="btn btn-outline-dark">{{ page }}</button></a>
                        {% endif %}
                    {% endfor %}
                    {% if history.has_next%}
                    <a href="/history_detail/id/{{ index }}/page/{{ history.next_page_number }}"><button class="btn btn-outline-dark" >下一页<span class="icon-arrow-right"></span></button></a>
                    {% else %}
                        <a href="javascript:void(0);" onclick="window.alert('没有下一页了哦')"><button class="btn btn-outline-dark"><span class="icon-arrow-right">下一页</span></button></a>
                    {% endif %}
                </div>
            </div>

    <div id="pg" class="table-responsive" style="position:fixed;width:40%;height:50%;display: none;margin-left:20%;top:20%;background-color: rgb(236,240,244);border-radius: 3px;box-shadow: #969696 0 10px 10px;padding: 10px">
    <div>
        <button type="button" class="close" data-dismiss="collocation" aria-label="Close" onclick='fail_step_hide()'><span aria-hidden="true" style="color: black;float: right">&times;</span></button>
        <h6 style="padding:10px;float: left">测试进度:</h6>
    </div>
     <div style="width: 90%;margin: auto;height: 80%;margin-top: 50px">
            <div id="progress" style="margin:auto;font-size: 12px">
                {% for step in ver_step %}
                    {% if step == ver_step.0 %}
                        <span id="{{ step }}" style="margin-left: 33%;">{{ step }}</span>
                    {% else %}
                        <br><h6 style="margin-left: 38%">↓</h6>
                        <span id="{{ step }}" style="margin-left: 33%;">{{ step }}</span>
                    {% endif %}
                {% endfor %}
            </div>
    </div>
    </div>

    <div id="collocation" class="table-responsive" style="position:fixed;width:500px;display: none;margin-left:20%;top:20%;background-color: rgb(236,240,244);border-radius: 3px;box-shadow: #969696 0 10px 10px;padding: 10px">
        <div style="width: 90%;margin: auto">
            <button type="button" class="close" data-dismiss="collocation" aria-label="Close" onclick="ed_collocation()"><span aria-hidden="true" style="color: black">&times;</span></button>
            <h5 style="width: 100px;margin: auto;">修改搭配</h5>
            <hr>
            <div style="width: 80%;margin: auto">
                    <span style="margin-left: 20px">主控 : &emsp;<select id="master_control" style="margin-bottom: 10px;font-size: 12px">
                    <option value="" style="display: none;">选择主控</option>
                    {% for item in master_control %}
                        <option id="{{ item.num }}" value="{{ item.collocation }}">{{ item.collocation }}</option>
                    {% endfor %}
                </select></span><br>
                    <span style="margin-left: 20px">Flash : &nbsp;&nbsp;<select id="Flash" style="margin-bottom: 10px;font-size: 12px">
                    <option value="" style="display: none;">选择Flash</option>
                    {% for item in flash %}
                        <option id="{{ item.num }}" value="{{ item.abbreviation }}">{{ item.abbreviation }}</option>
                    {% endfor %}
                </select></span><br>
                    <span style="margin-left: 20px">Die : <select id="Die" style="margin-bottom: 10px;font-size: 12px;margin-left: 23px">
                    <option value="" style="display: none;">选择Die</option>
                    {% for item in die %}
                        <option id="{{ item.num }}" value="{{ item.collocation }}">{{ item.collocation }}</option>
                    {% endfor %}
                </select></span><br>
                <span style="margin-left: 20px">容量 : <select id="capacity" style="margin-bottom: 10px;font-size: 12px;margin-left: 16px">
                    <option value="" style="display: none;">选择容量</option>
                    {% for item in capacity %}
                        <option id="{{ item.num }}" value="{{ item.abbreviation }}">{{ item.abbreviation }}</option>
                    {% endfor %}
                </select></span><br>
                </div>
            <hr>
            <div class="mt-3" style="width: 150px;margin: auto;">
                <button type="button" class="btn btn-primary" style="width: 180px;height: 10px;line-height: 2px" onclick="ed_hide()">确认并生成SN</button>
            </div>
        </div>
    </div>

    <div id="ed_t_tver" class="table-responsive" style="position:fixed;width:500px;display: none;margin-left:20%;top:20%;background-color: rgb(236,240,244);border-radius: 3px;box-shadow: #969696 0 10px 10px;padding: 10px">
        <div style="width: 90%;margin: auto">
            <button type="button" class="close" data-dismiss="collocation" aria-label="Close" onclick="ed_testver()"><span aria-hidden="true" style="color: black">&times;</span></button>
            <h5 style="width: 100px;margin: auto;">修改版本</h5>
            <hr>
            <div style="width: 80%;margin: auto">
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg" id="test_ver" placeholder="版本" name="test_ver" style="height: 20px;width: 300px;margin-left: 20px">
                </div>
            </div>
            <div class="mt-3" style="width: 150px;margin: auto;">
                <button type="button" class="btn btn-primary" style="width: 140px;height: 10px;line-height: 2px" onclick="test_ver_hide()">确认</button>
            </div>
        </div>
    </div>
    </div>
    </div>
    <script>
    function f1() {
        $.ajax({
            url: '{% url 'check_allotted' %}',
            type: 'post',
            data: {
                'data': 'check',
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function (res) {
                $("#allot").text(res)
            }
        });
        }
    var check_list = [];
{#    var id_list = ['card_num','test_cycle','compatible_ver','device_support','device_card_slog','card_num_1','card_id','user','remark','fail_pro'];#}
    function export_record() {
        $(".form-check-input:checked").each(function(){
            check_list.push(this.id)
        });
        $.post("/export_record/id/{{ requirements.id }}",{"check_ls":JSON.stringify(check_list),csrfmiddlewaretoken:'{{ csrf_token }}'},function (data) {
            $("#export_record").val(data.msg);
            location.href="/export_record/id/{{ requirements.id }}";
            });
            }

    function choose_result(id) {
        var select = $('#'+id+' option:selected');
        $.post("/choose_result/id/{{ requirements.id }}",{'flag':id,"sel":select.val(),csrfmiddlewaretoken:'{{ csrf_token }}'},function (data) {
            $('#table_content').html(data);
            });
    }

    function fail_step_show(fail_step) {
        if(fail_step!=''){
            $("#pg"+'>'+'div'+'>'+'div'+'>'+ '#'+fail_step).prevAll("span").css("background-color", "#c7f1c8");
            $("#pg"+'>'+'div'+'>'+ 'div'+'>'+'#'+fail_step).css('background-color','#ffb4c1');
        }
        $("#pg").slideDown();
    }

    function fail_step_hide() {
        $("#pg").slideUp();
        $("#progress"+'>'+'span').css('background-color','white');
    }

    function ed_collocation() {
        $("#collocation").slideToggle();
    }
    function ed_hide() {
        var master_control = $('#master_control'+' option:selected');
        var Flash = $('#Flash'+' option:selected');
        var Die = $('#Die'+' option:selected');
        var capacity = $('#capacity'+' option:selected');
        if(master_control.val()&&Flash.val()&&Die.val()&&capacity.val()){
            var match = master_control.val()+'-'+Flash.val()+'-'+Die.val()+'-'+capacity.val();
            var SN = master_control.attr('id')+Flash.attr('id')+Die.attr('id')+capacity.attr('id');
            $('#match').html(match);
            $("#collocation").slideToggle();
            $.post("/reset_match/",{'flag':'match','id':{{ requirements.id }},"match":match,'SN':SN,csrfmiddlewaretoken:'{{ csrf_token }}'},function (data) {
                $('#sn').html(data.msg);
            });
        }else {
            alert('有选项未选择');
        }
    }

    function ed_ver(id) {
        var ver = $('#'+id+' option:selected').val();
        $.post("/reset_match/",{'flag':'ver','id':{{ requirements.id }},"ver":ver,csrfmiddlewaretoken:'{{ csrf_token }}'},function (data) {

        });
    }

    function ed_testver() {
        $('#ed_t_tver').slideToggle();
    }
    function test_ver_hide() {
        var t_ver = $("#test_ver").val();
        if(t_ver){
            $("#testver").html(t_ver);
            $('#ed_t_tver').slideToggle();
            $.ajax({
                    url: '{% url 'reset_ver' %}',
                    type: 'post',
                    data: {
                        'id':{{ requirements.id }},
                        't_ver':t_ver,
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                success: function (res) {
                        $('#sn').html(res.msg);
                    }
                });
        }else{
            alert('版本不能为空');
        }
    }

    function check_select(type_id) {
        $('#model').slideToggle();
    }

    function check_select_hide(id) {
        var fail_pro = '';
        var complete_step = '';
        var step = '';
        $(".form-check-input:checked").each(function(){
            if(fail_pro == ''){
                fail_pro = fail_pro + this.id;
            }else{
                fail_pro = fail_pro + ',' + this.id;
            }
            step = this.id + $('#step' + this.id +' option:selected').val();
            if(complete_step==''){
                complete_step = complete_step + step;
            }else {
                complete_step = complete_step + ',' + step;
            }
        });
            if (fail_pro != '') {
                $('#model').slideToggle();
                $.post("/record_result/", {
                    "result": '0',
                    'id': id,
                    'fail': fail_pro,
                    'fail_step': complete_step,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                }, function (data) {
                    location.reload();
                })
            } else {
                alert('失败项目和失败步骤不能为空');
            }
    }
    </script>
{% endblock %}