{% extends 'device_manage/base/base.html' %}
<!-- 分为客户/测试者/管理员三种身份，通过登录方式判断身份，客户不用登陆
客户只能查看基础页面，管理员可以查看所有信息-->

{#修改网页标题title#}
{% block title %}
    修改设备信息
{% endblock %}

{% block personal %}
    {% if name == '客户'%}
        <a href="{% url 'login' %}" class="nav-link">
    {% else %}
        <a href="{% url 'personal_home' %}?id={{ staff_number }}" class="nav-link">
    {% endif %}
{% endblock %}

{% block user %}
    {{ name }}
{% endblock %}

{% block job %}
    身份:{{ job }}
{% endblock %}

{# 右边个人信息栏 #}
{% block self %}
    {{ name }}
{% endblock %}

{# 登录登出图标 #}
{% block login_logout %}
    {% if name == '客户'%}
        <a class="btn btn-block px-0 btn-rounded btn-upgrade" href="/login/">
            <i class="icon-badge mx-2"></i>登录
        </a>
    {% else %}
        <a class="btn btn-block px-0 btn-rounded btn-upgrade" href="/logout/">
            <i class="icon-badge mx-2"></i>注销
        </a>
    {% endif %}
{% endblock %}

{# 右边选项栏 #}
{% block option %}
    {% if name == '客户' %}
        <a class="dropdown-item" href="{% url 'index' %}"><i class="dropdown-item-icon icon-speech text-primary"></i> 查看设备</a>
        <a class="dropdown-item" href="{% url 'about' %}"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item" href="{% url 'login' %}"><i class="dropdown-item-icon icon-login text-primary"></i>登录</a>
    {% elif is_admin == 1 %}
        <a class="dropdown-item" href="{% url 'manage_demand' %}?page=1"><i class="dropdown-item-icon icon-camera text-primary"></i>待分配<span class="badge badge-pill badge-danger" id="allot" onload="f1()">-</span> </a>
        <a class="dropdown-item" href="{% url 'test_history' %}?page=1"><i class="dropdown-item-icon icon-calendar text-primary"></i> 测试记录 </a>
        <a class="dropdown-item" href="{% url 'parts' %}"><i class="dropdown-item-icon icon-map text-primary"></i>查看配件</a>
        <a class="dropdown-item" href="{% url 'about' %}"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item" href="{% url 'logout' %}"><i class="dropdown-item-icon icon-power text-primary"></i> 注销</a>
    {% elif is_init == 1 %}
        <a class="dropdown-item" href="{% url 'sample_info' %}"><i class="dropdown-item-icon icon-plus text-primary"></i> 发起需求 </a>
        <a class="dropdown-item" href="{% url 'test_history' %}?page=1"><i class="dropdown-item-icon icon-calendar text-primary"></i> 测试记录 </a>
        <a class="dropdown-item" href="{% url 'parts' %}"><i class="dropdown-item-icon icon-map text-primary"></i>查看配件</a>
        <a class="dropdown-item" href="{% url 'about' %}"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item" href="{% url 'logout' %}"><i class="dropdown-item-icon icon-power text-primary"></i> 注销</a>
    {% else %}
        <a class="dropdown-item" href="{% url 'test_history' %}?page=1"><i class="dropdown-item-icon icon-calendar text-primary"></i> 测试记录 </a>
        <a class="dropdown-item" href="{% url 'parts' %}"><i class="dropdown-item-icon icon-map text-primary"></i>查看配件</a>
        <a class="dropdown-item" href="{% url 'about' %}"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item" href="{% url 'logout' %}"><i class="dropdown-item-icon icon-power text-primary"></i> 注销</a>
    {% endif %}
{% endblock %}

{# 管理员-设备管理选项 #}
{% block admin %}
    {% if is_admin == 1 %}
    <li class="nav-item nav-category">
      <a class="nav-link" data-toggle="collapse" href="#admin" aria-expanded="false" aria-controls="admin">
        <span class="menu-title nav-category">管理选项</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
      <div class="collapse" id="admin">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'test_history' %}?page=1">测试记录汇总<i class="icon-calendar menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'manage_devices' %}">设备管理<i class="icon-camera menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'manage_demand' %}?page=1">需求分配<i class="icon-bag menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'many_devices' %}">导入系统<i class="icon-bag menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% endif %}
{% endblock %}

{# 判断是否为需求发起人 #}
{% block init %}
    {% if is_init == 1 %}
    <li class="nav-item nav-category">
      <a class="nav-link" data-toggle="collapse" href="#demand" aria-expanded="false" aria-controls="demand">
        <span class="menu-title nav-category">需求管理</span>
        <i class="icon-list menu-icon"></i>
      </a>
      <div class="collapse" id="demand">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'sample_info' %}">发起需求<i class="icon-plus menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'demand_recoder' %}">需求记录<i class="icon-hourglass menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">帮助<i class="icon-question menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% endif %}
{% endblock %}

{% block staff %}
    {% if name == '客户' %}
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="menu-title">更多功能</span>
        <i class=" icon-wrench menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-title nav-category">公司介绍</span>
        <i class="icon-list menu-icon"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="https://www.longsys.com/">公司官网<i class="icon-home menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">关于我们<i class="icon-people menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">帮助<i class="icon-question menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'personal_task' %}">
        <span class="menu-title">设备测试</span>
        <i class=" icon-wrench menu-icon"></i>
      </a>
    </li>
    <li class="nav-item nav-category">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-title">个人中心</span>
        <i class="icon-user menu-icon"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'test_history' %}?page=1"> 个人记录 <i class="icon-calendar menu-icon"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'parts' %}"> 查看配件 <i class="icon-map menu-icon"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'about' %}"> 关于 <i class="icon-question menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% endif %}
{% endblock %}

{% block head %}
    <style>
    .border-danger{
        border-color: darkred;
    }
    .text-bold{
        font-weight: bolder;
        font-size: 18px;
    }
    </style>
{% endblock %}



{% block content %}
 <div class="col-sm-6 grid-margin stretch-card" style="margin: 0 auto; position:relative;">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">修改设备信息</h3>
        <p class="card-description text-danger" style="float: left">注意: 请谨慎修改</p>
      <a href="{% url 'device_detail' %}?d_id={{ device.id }}"><input type="button" class="btn btn-secondary" value="取消" style="width: 200px;height: 10px;line-height: 2px;float: right;"></a>
        <form class="forms-sample" method="post" action="#" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="form-group" style="clear:both">
            <label for="exampleInputName1" style="font-weight: bolder; font-size: 15px;"><i class="text-danger"> * </i>&nbsp;设备状态</label>
            <select class="form-control must-choose" name="state">
                <option value="{{ device.device_state.state }}">{{ device.device_state.state }}</option>
                {% for i in state %}
                <option value="{{ i.state }}">{{ i.state }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputName1" style="font-weight: bolder; font-size: 15px;">类型</label>
            <select class="form-control" name="type">
                <option value="{{ device.device_type.device_type }}">{{ device.device_type.device_type }}</option>
                {% for i in type %}
                <option value="{{ i.device_type }}">{{ i.device_type }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputName1" style="font-weight: bolder; font-size: 15px;">是否问题设备</label>
            <select class="form-control" name="isProblem">
                {% if device.is_problem == True %}
                <option value="1">是</option>
                {% else %}
                <option value="0">否</option>
                {% endif %}

                <option value="1">是</option>
                <option value="0">否</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword4" style="font-weight: bolder; font-size: 15px;">品牌</label>
            <input type="text" class="form-control" name="brand" placeholder="品牌" value="{{ device.device_brand }}">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail3" style="font-weight: bolder; font-size: 15px;">编号</label>
            <input type="text" class="form-control" name="device_id" placeholder="编号"  value="{{ device.device_id }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">型号</label>
            <input type="text" class="form-control" name="spec" placeholder="型号" value="{{ device.device_spec }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">上市年份</label>
            <input type="number" class="form-control" name="year" placeholder="上市年份" value="{{ device.device_year }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">是否支持4K</label>
            <select class="form-control" name="support">
                {% if device.device_support == 0 %}
                <option value="0">不支持4K</option>
                <option value="1">支持4K</option>
                <option value="2">支持6K</option>
                {% elif device.device_support == 1 %}
                <option value="0">不支持4K</option>
                <option value="1">支持4K</option>
                <option value="2">支持6K</option>
                {% elif device.device_support == 2 %}
                <option value="0">不支持4K</option>
                <option value="1">支持4K</option>
                <option value="2">支持6K</option>
                {% endif %}
            </select>
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;"><i class="text-danger">*</i>&nbsp;支持扩展容量</label>
            <div class="row text-center">
                <div class="col-md-4">
                    <select class="form-control" name="min_extra">
                        <option value="{{ min_extra }}">{{ min_extra }}</option>
                        <option value="0">0</option>
                        <option value="4G">4G</option>
                        <option value="8G">8G</option>
                        <option value="16G">16G</option>
                        <option value="32G">32G</option>
                    </select>
                </div>
                —
                <div class="col-md-4">
                    <select class="form-control" name="max_extra">
                        <option value="{{ max_extra }}">{{ max_extra }}</option>
                        <option value="+">+</option>
                        <option value="32G">32G</option>
                        <option value="64G">64G</option>
                        <option value="128G">128G</option>
                        <option value="258G">258G</option>
                    </select>
                </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">固件版本</label>
            <input type="text" class="form-control" name="fw" placeholder="固件版本" value="{{ device.device_fw_ver }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">支持卡片容量</label>
            <input type="text" class="form-control" name="card_capacity" placeholder="支持卡片容量" value="{{ device.device_card_capacity }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">处理器型号</label>
            <input type="text" class="form-control" name="CPU" placeholder="处理器型号" value="{{ device.CPU }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">支持卡型</label>
            <input type="text" class="form-control" name="card" placeholder="支持卡型(每种卡型之间用/分开)" value="{{ device.device_card }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">卡槽</label>
            <input type="text" class="form-control" name="slog" placeholder="卡槽" value="{{ device.device_card_slog }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">支持文件系统</label>
            <input type="text" class="form-control" name="sys" placeholder="支持系统" value="{{ device.device_sys }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">图片格式</label>
            <input type="text" class="form-control" name="img_format" placeholder="图片格式" value="{{ device.device_img_format }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">图片平均速率</label>
            <input type="text" class="form-control" name="img_speed" placeholder="图片平均速度" value="{{ device.device_img_avg }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">视屏格式</label>
            <input type="text" class="form-control" name="video_format" placeholder="视频格式" value="{{ device.device_video_format }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">视频平均速率</label>
            <input type="text" class="form-control" name="video_speed" placeholder="视频平均速度" value="{{ device.device_video_speed }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">最高录制设置</label>
            <input type="text" class="form-control" name="video_max" placeholder="最高录制设置" value="{{ device.device_video_max }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">视频文件分割</label>
            <input type="text" class="form-control" name="video_cut" placeholder="视频文件分割" value="{{ device.device_video_cut }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">速度要求</label>
            <input type="text" class="form-control" name="speed" placeholder="速度要求" value="{{ device.device_speed }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">最大分辨率</label>
            <input type="text" class="form-control" name="max_reso" placeholder="最大分辨率" value="{{ device.device_max_reso }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">设备特性</label>
            <input type="text" class="form-control" name="character" placeholder="设备特性" value="{{ device.device_character }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">资产编号</label>
            <input type="text" class="form-control" name="pro_id" placeholder="资产编号" value="{{ device.device_property_id }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">资产所属</label>
            <input type="text" class="form-control" name="pro_belong" placeholder="资产所属" value="{{ device.device_property_belong }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">启用日期</label>
            <input type="text" class="form-control" name="begin" placeholder="启用日期" value="{{ device.device_begin }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">购买价格</label>
            <input type="text" class="form-control" name="price" placeholder="购买价格" id="price" value="{{ device.device_price }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">镜头数量</label>
            <input type="number" class="form-control" name="camera_num" placeholder="镜头数量" id="camera_num" value="{{ device.device_camera_num }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">工作温度</label>
            <input type="text" class="form-control" name="temper" placeholder="工作温度" value="{{ device.device_temper }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">电源电压/电流</label>
            <input type="text" class="form-control" name="vol_ele" placeholder="电源电压/电流" value="{{ device.voltage_electric }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">卡片电压</label>
            <input type="text" class="form-control" name="card_vol" placeholder="卡片电压" value="{{ device.card_voltage }}">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender" style="font-weight: bolder; font-size: 15px;">上传性能曲线图</label>
            <input type="file" name="img" id="img" class="file-upload-default">
            <div class="input-group col-xs-12">
              <input type="text" class="form-control file-upload-info" disabled placeholder="上传性能曲线图">
              <span class="input-group-append">
                <button class="file-upload-browse btn btn-primary" type="button" onclick="upload()">点此上传</button>
              </span>
            </div>
          </div>
            {# 假提交，点击时会检验必填项是否填完 #}
          <input type="button" class="btn btn-primary mr-2" value="确定修改" onclick="sure()">
          <button type="submit" class="btn btn-primary mr-2 d-none" id="submit"></button>
          <button type="button" class="btn btn-danger mr-2" id="delete" onclick="delete_device()">删除</button>
        </form>
      </div>
    </div>
    <script>
        camera_num = $('#camera_num');
        price = $("#price");
        function sure() {
            var res = confirm('确定修改设备信息?');
            if (res === true){
                $("#submit").trigger('click')
            }
        }
        //上传文件
        function delete_device() {
            var r = confirm('确定删除该设备？若要找回设备请联系管理员');
            if (r === true){
                $.ajax({
                    url: '{% url 'delete_device' %}',
                    type: 'post',
                    data: {
                        'device_id': {{ device.id }},
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                    },
                    success: function (res) {
                        if(res === 'OK'){
                            location.href='/manage_devices/';
                        }
                    },
                    error: function () {
                        alert('error!')
                    }
                })
            }
        }
        function upload() {
            $('#img').trigger('click')
        }
    </script>
  </div>
    </a>
{% endblock %}
