{% extends 'device_manage/base/base.html' %}
<!-- 分为客户/测试者/管理员三种身份，通过登录方式判断身份，客户不用登陆
客户只能查看基础页面，管理员可以查看所有信息-->

{#修改网页标题title#}
{% block title %}
    个人中心
{% endblock %}

{% block personal %}
    <a href="{% url 'personal_home' %}?id={{ staff_number }}" class="nav-link">
{% endblock %}

{# 通过继承在新页面改写用户名 #}
{% block user %}
    {{ name }}
{% endblock %}

{% block job %}
    身份:{{ job }}
{% endblock %}

{# 右边个人信息栏 #}
{% block self %}
    {{ name }}
{% endblock %}

{# 登录登出图标 #}
{% block login_logout %}
    {% if name == '客户'%}
        <a class="btn btn-block px-0 btn-rounded btn-upgrade" href="/login/">
            <i class="icon-badge mx-2"></i>登录
        </a>
    {% else %}
        <a class="btn btn-block px-0 btn-rounded btn-upgrade" href="/logout/">
            <i class="icon-badge mx-2"></i>注销
        </a>
    {% endif %}
{% endblock %}

{# 右边选项栏 #}
{% block option %}
    {% if name == '客户' %}
        <a class="dropdown-item"  href="{% url 'index' %}"><i class="dropdown-item-icon icon-speech text-primary"></i> 查看设备 </a>
        <a class="dropdown-item"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item" href="/login/"><i class="dropdown-item-icon icon-login text-primary"></i>登录</a>
    {% else %}
        <a class="dropdown-item"  href="{% url 'index' %}"><i class="dropdown-item-icon icon-camera text-primary"></i> 查看设备 </a>
        <a class="dropdown-item" href="{% url 'test_history' %}?page=1"><i class="dropdown-item-icon icon-calendar text-primary"></i> 测试记录 </a>
        <a class="dropdown-item"><i class="dropdown-item-icon icon-map text-primary"></i> 测试报表 </a>
        <a class="dropdown-item"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item" href="/logout/"><i class="dropdown-item-icon icon-power text-primary"></i> 注销</a>
    {% endif %}
{% endblock %}

{# 管理员-设备管理选项 #}
{% block admin %}
    {% if is_admin == 1 %}
    <li class="nav-item nav-category">
      <a class="nav-link" data-toggle="collapse" href="#admin" aria-expanded="false" aria-controls="admin">
        <span class="menu-title nav-category">管理选项</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
      <div class="collapse" id="admin">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'test_history' %}?page=1">测试记录汇总<i class="icon-calendar menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'manage_devices' %}">设备管理<i class="icon-camera menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'user_list' %}?page=1">人员管理<i class="icon-people menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'manage_demand' %}?page=1">需求分配<i class="icon-bag menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% endif %}
{% endblock %}

{% block init %}
    {% if is_init == 1 %}
    <li class="nav-item nav-category">
      <a class="nav-link" data-toggle="collapse" href="#demand" aria-expanded="false" aria-controls="demand">
        <span class="menu-title nav-category">需求管理</span>
        <i class="icon-list menu-icon"></i>
      </a>
      <div class="collapse" id="demand">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'new_demand' %}">发起需求<i class="icon-plus menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">需求记录<i class="icon-hourglass menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">帮助<i class="icon-question menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% endif %}
{% endblock %}

{% block staff %}
    {% if name == '客户' %}
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="menu-title">更多功能</span>
        <i class=" icon-wrench menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-title nav-category">公司介绍</span>
        <i class="icon-list menu-icon"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="https://www.longsys.com/">公司官网<i class="icon-home menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">关于我们<i class="icon-people menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">帮助<i class="icon-question menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'choose' %}">
        <span class="menu-title">设备测试</span>
        <i class=" icon-wrench menu-icon"></i>
      </a>
    </li>
    <li class="nav-item nav-category">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-title">个人中心</span>
        <i class="icon-list menu-icon"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'test_history' %}?page=1"> 个人记录 <i class="icon-calendar menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#"> 生成报表 <i class="icon-map menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#"> 关于 <i class="icon-question menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% endif %}
{% endblock %}


{% block content %}
    <div class="back">
        <a href="javascript:history.back(-1)"><button class="btn btn-outline-dark" style="font-family: 微软雅黑">&lt;&lt;返回</button></a>
    </div>
    <div class="col-md-12" style="background-color: white;width: 50%;margin: auto;font-family: 微软雅黑">
        <div id="personal" style="width: 80%;margin: auto;padding: 20px;display: block">
            <h3>个人信息:</h3>
            <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>姓名：</th>
                <th>{{ user.name }}</th>
            </tr>
            <tr>
                <th>工号：</th>
                <th>{{ user.staff_number }}</th>
            </tr>
            <tr>
                <th>密码(加密)：</th>
                <th>{{ user.password }}</th>
            </tr>
            <tr>
                <th>小组：</th>
                <th>{{ user.group }}</th>
            </tr>
            <tr>
                <th>岗位：</th>
                <th>{{ user.job }}</th>
            </tr>
            </thead>
            </table>
            <div class="mt-3">
                <input class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" id="change_btn" type="button" value="修改密码">
            </div>
        </div>
        <div id="modify" style="width: 80%;margin: auto;padding: 20px;display: none">
            <h3>修改密码:</h3>
            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    原密码:<input type="password" class="form-control form-control-lg" id="old_pwd" placeholder="输入原密码" name="old_pwd">
                    <span style="color: red;display: none;font-size: 10%"></span>
                </div>
                <div class="form-group">
                    新密码:<input type="password" class="form-control form-control-lg" id="new_pwd" placeholder="新密码" name="new_pwd">
                    <span style="color: red;display: none;font-size: 10%"></span>
                </div>
                <div class="form-group">
                    确认密码:<input type="password" class="form-control form-control-lg" id="c_pwd" placeholder="确认密码" name="c_pwd">
                    <span style="color: red;display: none;font-size: 10%"></span>
                </div>
                <div class="mt-3">
                    <input class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" id="submit_btn" type="submit" value="提交修改">
                    <span style="color: red;font-size: 10%">{{ msg }}</span>
                </div>
            </form>

        </div>
    </div>

{% endblock %}
{% block scr %}
    <script>
        $(function () {
            is_old_pwd = false;
            is_cpwd = false;
            is_new_pwd = false;

            change();
            old_pwd();
            check_password();
            check_cpwd();
            check_all();

        function change() {
            $('#change_btn').click(function () {
                $('#personal').css('display','none');
                $('#modify').css('display','block');
            })
            }

        //校验原密码是否正确
        function old_pwd() {
            $('#old_pwd').blur(function () {
                page_url = $(location).attr('href');
                pwd = $('#old_pwd').val();
                if (pwd==""){
                    $('#old_pwd').next().html('输入原密码！！').show();
                }else{
                    $.post("{% url 'check_oldpwd' %}",{"pwd":pwd,"url":page_url,csrfmiddlewaretoken:'{{ csrf_token }}'},function (data) {
                        if (data.erro == 1){
                             $('#old_pwd').next().html('原密码输入错误！！').show();
                        }else{
                            is_old_pwd = true;
                            $('#old_pwd').next().hide();
                        }
                    })
                }

            })
        }

        //校验密码
        function check_password() {
            $('#new_pwd').blur(function () {
                pwd = $('#new_pwd').val();
                if (pwd==''){
                    $('#new_pwd').next().html('密码不能为空!!').show();
                }else{
                    reg = /[0-9a-zA-Z]{8,16}/;
                    if (reg.test(pwd)){
                        if (!isNaN(pwd)){
                            $('#new_pwd').next().html('密码不能为纯数字！！').show();
                        }else{
                            is_new_pwd = true;
                            $('#new_pwd').next().hide()
                        }
                    }else{
                        $('#new_pwd').next().html('密码由8-16位数字和字母组成！！').show();
                    }
                }
            })
        }

        //校验两次输入密码是否一样
        function check_cpwd() {
            $('#c_pwd').blur(function () {
            cpwd = $('#c_pwd').val();
            pwd = $('#new_pwd').val();
            if (cpwd==''){
                is_cpwd = false;
                $('#c_pwd').next().html('请再次输入密码！！').show();
            }else{
                if (cpwd==pwd){
                    is_cpwd = true;
                    $('#c_pwd').next().hide()
                }else{
                    is_cpwd = false;
                    $('#c_pwd').next().html('两次密码不一致！！').show();
                }
            }
        })
        }

        //校验所有密码是否填写完整
        function check_all() {
            $("#submit_btn").click(function () {
            if (!(is_old_pwd&&is_new_pwd&&is_cpwd)){
                alert('有必填项未填写或者填写有误');
                return false;
            }else{
                var flag = confirm('密码将被修改，是否继续?');
                if(flag){
                    return true;
                }else {
                    return false;
                    }
                }
            })
        }
        })
</script>
{% endblock %}
