{% extends 'device_manage/base/base.html' %}
<!-- 分为客户/测试者/管理员三种身份，通过登录方式判断身份，客户不用登陆
客户只能查看基础页面，管理员可以查看所有信息-->

{#修改网页标题title#}
{% block title %}
    测试记录汇总
{% endblock %}

{% block search %}
{% endblock %}

{% block personal %}
    {% if name == '客户'%}
        <a href="{% url 'login' %}" class="nav-link">
    {% else %}
        <a href="{% url 'personal_home' %}?id={{ staff_number }}" class="nav-link">
    {% endif %}
{% endblock %}

{# 通过继承在新页面改写用户名 #}
{% block user %}
    {{ name }}
{% endblock %}

{% block job %}
    身份:{{ job }}
{% endblock %}

{# 右边个人信息栏 #}
{% block self %}
    {{ name }}
{% endblock %}

{# 登录登出图标 #}
{% block login_logout %}
    {% if name == '客户'%}
        <a class="btn btn-block px-0 btn-rounded btn-upgrade" href="/login/">
            <i class="icon-badge mx-2"></i>登录
        </a>
    {% else %}
        <a class="btn btn-block px-0 btn-rounded btn-upgrade" href="/logout/">
            <i class="icon-badge mx-2"></i>注销
        </a>
    {% endif %}
{% endblock %}

{# 右边选项栏 #}
{% block option %}
    {% if name == '客户' %}
        <a class="dropdown-item" href="{% url 'index' %}"><i class="dropdown-item-icon icon-speech text-primary"></i> 查看设备</a>
        <a class="dropdown-item" href="{% url 'about' %}"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item" href="{% url 'login' %}"><i class="dropdown-item-icon icon-login text-primary"></i>登录</a>
    {% elif is_admin == 1 %}
        <a class="dropdown-item" href="{% url 'manage_demand' %}?page=1"><i class="dropdown-item-icon icon-camera text-primary"></i>待分配<span class="badge badge-pill badge-danger" id="allot" onload="f1()">-</span> </a>
        <a class="dropdown-item" href="{% url 'test_history' %}?page=1"><i class="dropdown-item-icon icon-calendar text-primary"></i> 测试记录 </a>
        <a class="dropdown-item" href="{% url 'parts' %}"><i class="dropdown-item-icon icon-map text-primary"></i>查看配件</a>
        <a class="dropdown-item" href="{% url 'about' %}"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item" href="{% url 'logout' %}"><i class="dropdown-item-icon icon-power text-primary"></i> 注销</a>
    {% elif is_init == 1 %}
        <a class="dropdown-item" href="{% url 'sample_info' %}"><i class="dropdown-item-icon icon-plus text-primary"></i> 发起需求 </a>
        <a class="dropdown-item" href="{% url 'test_history' %}?page=1"><i class="dropdown-item-icon icon-calendar text-primary"></i> 测试记录 </a>
        <a class="dropdown-item" href="{% url 'parts' %}"><i class="dropdown-item-icon icon-map text-primary"></i>查看配件</a>
        <a class="dropdown-item" href="{% url 'about' %}"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item" href="{% url 'logout' %}"><i class="dropdown-item-icon icon-power text-primary"></i> 注销</a>
    {% else %}
        <a class="dropdown-item" href="{% url 'test_history' %}?page=1"><i class="dropdown-item-icon icon-calendar text-primary"></i> 测试记录 </a>
        <a class="dropdown-item" href="{% url 'parts' %}"><i class="dropdown-item-icon icon-map text-primary"></i>查看配件</a>
        <a class="dropdown-item" href="{% url 'about' %}"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item" href="{% url 'logout' %}"><i class="dropdown-item-icon icon-power text-primary"></i> 注销</a>
    {% endif %}
{% endblock %}

{# 管理员-设备管理选项 #}
{% block admin %}
    {% if is_admin == 1 %}
    <li class="nav-item nav-category">
      <a class="nav-link" data-toggle="collapse" href="#admin" aria-expanded="false" aria-controls="admin">
        <span class="menu-title nav-category">管理选项</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
      <div class="collapse" id="admin">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'test_history' %}?page=1">测试记录汇总<i class="icon-calendar menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'manage_devices' %}">设备管理<i class="icon-camera menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'manage_demand' %}?page=1">需求分配<i class="icon-bag menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'many_devices' %}">导入系统<i class="icon-bag menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% endif %}
{% endblock %}

{# 判断是否为需求发起人 #}
{% block init %}
    {% if is_init == 1 %}
    <li class="nav-item nav-category">
      <a class="nav-link" data-toggle="collapse" href="#demand" aria-expanded="false" aria-controls="demand">
        <span class="menu-title nav-category">需求管理</span>
        <i class="icon-list menu-icon"></i>
      </a>
      <div class="collapse" id="demand">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'sample_info' %}">发起需求<i class="icon-plus menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'demand_recoder' %}">需求记录<i class="icon-hourglass menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">帮助<i class="icon-question menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% endif %}
{% endblock %}

{% block staff %}
    {% if name == '客户' %}
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="menu-title">更多功能</span>
        <i class=" icon-wrench menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-title nav-category">公司介绍</span>
        <i class="icon-list menu-icon"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="https://www.longsys.com/">公司官网<i class="icon-home menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">关于我们<i class="icon-people menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">帮助<i class="icon-question menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'personal_task' %}">
        <span class="menu-title">设备测试</span>
        <i class=" icon-wrench menu-icon"></i>
      </a>
    </li>
    <li class="nav-item nav-category">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-title">个人中心</span>
        <i class="icon-list menu-icon"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'test_history' %}?page=1"> 个人记录 <i class="icon-calendar menu-icon"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'parts' %}"> 查看配件 <i class="icon-map menu-icon"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'about' %}"> 关于 <i class="icon-question menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% endif %}
{% endblock %}

{# 修改操作框内容 #}
{% block content %}
    {% if is_admin == 1 %}
        <div class="col-md-8" style="margin:auto"  onload="f1()">
            <div class="input-group col-md-5" style="margin:auto;padding: 20px;">
                <span class="input-group-append">
                <input type="text" class="form-control file-upload-info" style="width: 150px; height: 35px; margin: 0 auto;" placeholder="需求发起人" id="inp_name">
                <button class="file-upload-browse btn btn-primary" id="search" style="height: 35px;width: 110px">搜索</button>
                </span>
            </div>
        </div>
    {% endif %}
    <div class="col-md-12 table-responsive" id="history" style="background-color: white; padding: 20px">
        <table class="table table-hover table-striped text-center">
        <thead>
        <tr>
            <th>序号</th>
            <th>测试任务id</th>
            <th>完成度</th>
            {% if is_admin == 1 %}
                <th>测试周期</th>
            {% else %}
                <th>提交时间</th>
            {% endif %}
            <th>发起人</th>
        </tr>
        </thead>
        {% if is_admin == 1 %}
            {% for i in task%}
                <tr id="{{ i.1.id }}" onclick="showId(this.id)"  title="点击查看详情" class="dd">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.1.id }}</td>
                    {% if i.2 == i.0 %}
                    <td>{{ i.2 }}/{{ i.0 }}</td>
                    {% else %}
                    <td class="text-danger">{{ i.2 }}/{{ i.0 }}</td>
                    {% endif %}
                    <td>{{ i.1.start_time|date:"Y-m-d H:i:s" }}—{{ i.1.end_time|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ i.1.initiator }}</td>
                </tr>
            {% endfor %}
        {% else %}
            {% for i in task%}
                <tr onclick="showId(this.id)" id="{{ i.1.task_id}}" title="点击查看详情" class="dd">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.1.task_id }}</td>
                    <td>{{ i.0 }}</td>
                    <td>
                        {% if i.1.finish_time %}
                            {{ i.1.finish_time|date:"Y-m-d H:i:s" }}
                        {% else %}
                            未提交
                        {% endif %}
                    </td>
                    <td>{{ i.1.user }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td></td>
                    <td></td>
                    <td>暂无</td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
        {% endif %}
            <script>
                 function showId(id){
                    location.href="/history_detail/id/"+id+'/page/1';
                }
            </script>
        </table>
        <div class="col-md-12 text-center">
            <div class="btn-group" role="group" style="margin-top: 20px">
                    <a style="border: none" href="{% url 'test_history' %}?page=1"><button class="btn btn-outline-dark">返回首页</button></a>
                {% if history_ls.has_previous %}
                    <a href="{% url 'test_history' %}?page={{ history_ls.previous_page_number }}"><button class="btn btn-outline-dark"><span class="icon-arrow-left">上一页</span></button></a>
                {% else %}
                    <a href="javascript:void(0);" onclick="window.alert('没有上一页哦')"><button class="btn btn-outline-dark"><span class="icon-arrow-left">上一页</span></button></a>
                {% endif %}
                {% for page in history_ls.paginator.page_range %}
                    {% if page > history_ls.number|add:-2 and page < history_ls.number|add:2 %}
                        <a href="{% url 'test_history' %}?page={{ page }}"><button class="btn btn-outline-dark">{{ page }}</button></a>
                    {% endif %}
                {% endfor %}
                {% if history_ls.has_next%}
                <a href="{% url 'test_history' %}?page={{ history_ls.next_page_number }}"><button class="btn btn-outline-dark" >下一页<span class="icon-arrow-right"></span></button></a>
                {% else %}
                    <a href="javascript:void(0);" onclick="window.alert('没有下一页了哦')"><button class="btn btn-outline-dark"><span class="icon-arrow-right">下一页</span></button></a>
                {% endif %}
            </div>
        </div>
    </div>
    {% block scr %}
        {% csrf_token %}
        <script>
        $('#card_num').click(function(){
            $.ajax({
                url: '{% url 'card_num_sort' %}',
                type: 'post',
                data: {
                    'types': 1,
                    'csrfmiddlewaretoken': $("[name='csrfmiddlewaretoken']").val(),
                },
                success: function (res) {
                    $('#history').html(res);
                    $("#card_num").html('卡数量▼').css('color','red');
                },
                error: function (err) {
                    alert('error')
                }
            })
        });
        $('#card_id').click(function(){
            $.ajax({
                        url: '{% url 'card_num_sort' %}',
                        type: 'post',
                        data: {
                            'types': 2,
                            'csrfmiddlewaretoken': $("[name='csrfmiddlewaretoken']").val(),
                        },
                        success: function (res) {
                            $('#history').html(res);
                            $("#card_id").html('卡片编号▲').css('color','red');
                        },
                        error: function (err) {
                            alert('error')
                        }
                    })
        });
        $('#search').click(function(){
            $.ajax({
                url: '{% url 'card_num_sort' %}',
                type: 'post',
                data: {
                    'types': 3,
                    'name':$("#inp_name").val(),
                    'csrfmiddlewaretoken': $("[name='csrfmiddlewaretoken']").val(),

                },
                success: function (res) {
                    $('#history').html(res);
                },
                error: function (err) {
                    alert('error')
                }
            })
        });
        function f1() {
            $.ajax({
                url: '{% url 'check_allotted' %}',
                type: 'post',
                data: {
                    'data': 'check',
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (res) {
                    $("#allot").text(res)
                }
            });
        }
        </script>
    {% endblock %}
{% endblock %}
</a>