<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
            {# title  #}
        {% endblock title %}
    </title>
    <!-- plugins:css -->
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/static/device_manage/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/static/device_manage/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/static/device_manage/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/static/device_manage/css/rocket.css">
    <link rel="stylesheet" href="/static/device_manage/css/style.css" /><!-- End layout styles -->
    <link rel="shortcut icon" href="/static/device_manage/images/min_logo.png" />
      <!-- plugins:js -->
    <script src="/static/device_manage/vendors/js/vendor.bundle.base.js"></script>
    <script src="/static/device_manage/js/off-canvas.js"></script>
    <script src="/static/device_manage/js/misc.js"></script>
    <script src="/static/device_manage/lib/jquery-2.1.4.js"></script>
    <script src="/static/device_manage/lib/fastclick.js"></script>
    <script src="/static/device_manage/js/jquery-weui.js"></script>
    <script src="/static/device_manage/js/rocket.js"></script>
{#    <script src="/static/device_manage/js/bootstrap.min.js"></script>#}
    <!-- endinject -->
  {% block head %}
  {% endblock %}
  </head>


  <body >
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="navbar-brand-wrapper d-flex align-items-center">
          <a class="navbar-brand brand-logo" href="/">
            <img src="/static/device_manage/images/logo.png" alt="logo" class="logo-dark" />
          </a>
            {# 首页 #}
          <a class="navbar-brand brand-logo-mini" href="/"><img src="/static/device_manage/images/min_logo.png" alt="logo"></a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center flex-grow-1">
          <h5 class="mb-0 font-weight-medium d-none d-lg-flex">欢迎进入测试部设备管理系统!</h5>
          <ul class="navbar-nav navbar-nav-right ml-auto">
            <form class="search-form d-none d-md-block" action="{% url 'device_search' %}" method="get">
              <i class="icon-magnifier"></i>
              <input type="search" class="form-control" placeholder="点此搜索设备" name="name" title="点击搜索"  required>
            </form>
            <li class="nav-item dropdown language-dropdown d-none d-sm-flex align-items-center">
              <div class="dropdown-menu dropdown-menu-left navbar-dropdown py-2" aria-labelledby="LanguageDropdown">
                <a class="dropdown-item">
                  <i class="flag-icon flag-icon-us"></i> English </a>
                <a class="dropdown-item">
                  <i class="flag-icon flag-icon-fr"></i> French </a>
                <a class="dropdown-item">
                  <i class="flag-icon flag-icon-ae"></i> Arabic </a>
                <a class="dropdown-item">
                  <i class="flag-icon flag-icon-ru"></i> Russian </a>
              </div>
            </li>
            <li class="nav-item dropdown d-none d-xl-inline-flex user-dropdown">
              <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                  {% block face-menu %}
                      <img class="img-xs rounded-circle ml-2" src="/static/device_manage/images/faces-clipart/pic-1.png" alt="Profile image">
                  {% endblock %}
                  <span class="font-weight-normal"> {% block self %}
                          { % block self% }个人页面
                      {% endblock %} </span></a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                {% block option %}
                {% endblock %}
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="icon-menu"></span>
          </button>
        </div>
      </nav>
      <!-- 整体内容框架 -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              {% block personal %}

              {% endblock %}
              <!-- 信息栏 -->
                <div class="profile-image">
                    {% block face-left %}
                        <img class="img-xs rounded-circle" src="/static/device_manage/images/faces-clipart/pic-1.png" alt="profile image">
                    {% endblock %}
                  <div class="dot-indicator bg-success"></div>
                </div>
                <div class="text-wrapper">
                  <p class="profile-name">
                      {% block user %}
                          { % block user % }
                      {% endblock %}
                  </p>
                  <p class="designation">
                      {% block job %}
                          { % block job % }
                      {% endblock %}
                  </p>
                </div>
              </a>
            </li>
            {% block admin %}
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="menu-title">设备管理(管理员可见)</span>
                <i class="icon-screen-desktop menu-icon"></i>
              </a>
            </li>
            {% endblock %}

            {% block init %}
                需求发起人
            {% endblock %}

            {% block staff %}
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="menu-title">设备测试</span>
                <i class=" icon-wrench menu-icon"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <span class="menu-title">个人中心</span>
                <i class="icon-list menu-icon"></i>
              </a>
              <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="#"> 测试记录 <i class="icon-calendar menu-icon"></i></a></li>
                  <li class="nav-item"> <a class="nav-link" href="#"> 生成报表 <i class="icon-map menu-icon"></i></a></li>
                  <li class="nav-item"> <a class="nav-link" href="#"> FAQ <i class="icon-question menu-icon"></i></a></li>
                </ul>
              </div>
            </li>
            {% endblock %}
            <li class="nav-item pro-upgrade">
              <span class="nav-link">
                  {% block login_logout %}
                    <a class="btn btn-block px-0 btn-rounded btn-upgrade" href="#" target="_blank">
                        <i class="icon-badge mx-2"></i>登录和注销
                    </a>
                  {% endblock %}
              </span>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel" style="position:relative;">
          <div class="content-wrapper" id="myAnchor">
              <div>
                <a href="#" class="go-top" style="z-index:99;"><i class="fa fa-chevron-up"></i></a>
                <div class="wrapper" id="myAnchor">
              </div>
            <div style="display: none">
            </div>
              {% block content %}

              {% endblock content %}
          </div>
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    {% block scr %}

    {% endblock %}
    {% block footer %}
        {# 页面的底部，可以用来放jtml片段  可以添加新的js#}
    {% endblock %}
    </div>
  </body>
</html>