{% extends 'device_manage/base/base.html' %}
<!-- 分为客户/测试者/管理员三种身份，通过登录方式判断身份，客户不用登陆
客户只能查看基础页面，管理员可以查看所有信息-->

{#修改网页标题title#}
{% block title %}
    选择设备
{% endblock %}

{% block css %}
    <style>
        table { table-layout: fixed;} /*必须，表格宽度不随文字增多而变长。*/
        td { white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
    </style>
    <link rel="stylesheet" href="/static/device_manage/css/new_built.css">
{% endblock %}

{% block personal %}
    {% if name == '客户'%}
        <a href="{% url 'login' %}" class="nav-link">
    {% else %}
        <a href="{% url 'personal_home' %}?id={{ staff_number }}" class="nav-link">
    {% endif %}
{% endblock %}

{# 通过继承在新页面改写用户名 #}
{% block user %}
    {{ name }}
{% endblock %}

{% block job %}
    身份:{{ job }}
{% endblock %}

{# 右边个人信息栏 #}
{% block self %}
    {{ name }}
{% endblock %}

{# 登录登出图标 #}
{% block login_logout %}
    {% if name == '客户'%}
        <a class="btn btn-block px-0 btn-rounded btn-upgrade" href="/login/">
            <i class="icon-badge mx-2"></i>登录
        </a>
    {% else %}
        <a class="btn btn-block px-0 btn-rounded btn-upgrade" href="/logout/">
            <i class="icon-badge mx-2"></i>注销
        </a>
    {% endif %}
{% endblock %}

{# 右边选项栏 #}
{% block option %}
    {% if name == '客户' %}
        <a class="dropdown-item" href="{% url 'index' %}"><i class="dropdown-item-icon icon-speech text-primary"></i> 查看设备</a>
        <a class="dropdown-item" href="{% url 'about' %}"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item" href="{% url 'login' %}"><i class="dropdown-item-icon icon-login text-primary"></i>登录</a>
    {% elif is_admin == 1 %}
        <a class="dropdown-item" href="{% url 'manage_demand' %}?page=1"><i class="dropdown-item-icon icon-camera text-primary"></i>待分配<span class="badge badge-pill badge-danger" id="allot" onload="f1()">-</span> </a>
        <a class="dropdown-item" href="{% url 'test_history' %}?page=1"><i class="dropdown-item-icon icon-calendar text-primary"></i> 测试记录 </a>
        <a class="dropdown-item" href="{% url 'parts' %}"><i class="dropdown-item-icon icon-map text-primary"></i>查看配件</a>
        <a class="dropdown-item" href="{% url 'about' %}"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item" href="{% url 'logout' %}"><i class="dropdown-item-icon icon-power text-primary"></i> 注销</a>
    {% elif is_init == 1 %}
        <a class="dropdown-item" href="{% url 'sample_info' %}"><i class="dropdown-item-icon icon-plus text-primary"></i> 发起需求 </a>
        <a class="dropdown-item" href="{% url 'test_history' %}?page=1"><i class="dropdown-item-icon icon-calendar text-primary"></i> 测试记录 </a>
        <a class="dropdown-item" href="{% url 'parts' %}"><i class="dropdown-item-icon icon-map text-primary"></i>查看配件</a>
        <a class="dropdown-item" href="{% url 'about' %}"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item" href="{% url 'logout' %}"><i class="dropdown-item-icon icon-power text-primary"></i> 注销</a>
    {% else %}
        <a class="dropdown-item" href="{% url 'test_history' %}?page=1"><i class="dropdown-item-icon icon-calendar text-primary"></i> 测试记录 </a>
        <a class="dropdown-item" href="{% url 'parts' %}"><i class="dropdown-item-icon icon-map text-primary"></i>查看配件</a>
        <a class="dropdown-item" href="{% url 'about' %}"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item" href="{% url 'logout' %}"><i class="dropdown-item-icon icon-power text-primary"></i> 注销</a>
    {% endif %}
{% endblock %}

{# 管理员-设备管理选项 #}
{% block admin %}
    {% if is_admin == 1 %}
    <li class="nav-item nav-category">
      <a class="nav-link" data-toggle="collapse" href="#admin" aria-expanded="false" aria-controls="admin">
        <span class="menu-title nav-category">管理选项</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
      <div class="collapse" id="admin">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'test_history' %}?page=1">测试记录汇总<i class="icon-calendar menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'manage_devices' %}">设备管理<i class="icon-camera menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'manage_demand' %}?page=1">需求分配<i class="icon-bag menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'many_devices' %}">导入系统<i class="icon-bag menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% endif %}
{% endblock %}

{# 判断是否为需求发起人 #}
{% block init %}
    {% if is_init == 1 %}
    <li class="nav-item nav-category">
      <a class="nav-link" data-toggle="collapse" href="#demand" aria-expanded="false" aria-controls="demand">
        <span class="menu-title nav-category">需求管理</span>
        <i class="icon-list menu-icon"></i>
      </a>
      <div class="collapse" id="demand">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'sample_info' %}">发起需求<i class="icon-plus menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'demand_recoder' %}">需求记录<i class="icon-hourglass menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">帮助<i class="icon-question menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% endif %}
{% endblock %}

{% block staff %}
    {% if name == '客户' %}
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="menu-title">更多功能</span>
        <i class=" icon-wrench menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-title nav-category">公司介绍</span>
        <i class="icon-list menu-icon"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="https://www.longsys.com/">公司官网<i class="icon-home menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">关于我们<i class="icon-people menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">帮助<i class="icon-question menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'personal_task' %}">
        <span class="menu-title">设备测试</span>
        <i class=" icon-wrench menu-icon"></i>
      </a>
    </li>
    <li class="nav-item nav-category">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-title">个人中心</span>
        <i class="icon-user menu-icon"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'test_history' %}?page=1"> 个人记录 <i class="icon-calendar menu-icon"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'parts' %}"> 查看配件 <i class="icon-map menu-icon"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'about' %}"> 关于 <i class="icon-question menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% endif %}
{% endblock %}


{% block content %}
    <div id='list' class="show_device_info_content"
         style="background-color: white;
          padding-bottom: 20px;">
        <table class="table">
            <thead>
            <tr>
                <th>{{ type }}</th>
                <th>设备编号</th>
                <th>设备品牌</th>
                <th>设备型号</th>
                <th>上市年份</th>
                <th>数量</th>
                <th>是否支持4K</th>
                <th>固件版本</th>
                <th>卡片形态</th>
                <th>卡槽</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="weui-loadmore" id="loading">
        <i class="weui-loading"></i>
        <span class="weui-loadmore__tips">正在加载</span>
    </div>
{% endblock %}

{% block footer %}
    <script>
        var loading = false;  // 是否正在加载中
        var page = 1; // 当前页
        var noMore = false; // 是否还有下一页
        /**
         * 封装函数，异步取数据
         * @param callback
         */
        function loadData(callback) {
            if(loading) return;
            if(noMore) return;
            loading = true;
            $('#loading').show();
            $.ajax({
                url: '{% url 'device_load_list' %}',
                data: {
                    page: page,
                    name: '{{ search_data.name }}'
                },
                success: function(rest) {
                    // 添加HTML片段到内容区
                    $('#list').append(rest);
                    page = page + 1;  // 页码加1
                    loading = false;
                    $('#loading').hide();
                    // 如果有回调函数，则调用
                    if (callback) {
                        callback()
                    }
                }
            })
        }
        function f1() {
            $.ajax({
                url: '{% url 'check_allotted' %}',
                type: 'post',
                data: {
                    'data': 'check',
                    'csrfmiddlewaretoken': '{{ csrf_token }}',

                },
                success: function (res) {
                    $("#allot").text(res)
                }
            });
        }

        $(document.body).infinite(200).on("infinite", function() {
            loadData(); // 加载数据
         });
        loadData();//默认加载第一页
    </script>
{% endblock %}

