{% extends 'device_manage/base/base.html' %}
<!-- 分为客户/测试者/管理员三种身份，通过登录方式判断身份，客户不用登陆
客户只能查看基础页面，管理员可以查看所有信息-->

{#修改网页标题title#}
{% block title %}
    longsys设备展示
{% endblock %}

{% block personal %}
    {% if name == '客户'%}
        <a href="{% url 'login' %}" class="nav-link">
    {% else %}
        <a href="{% url 'personal_home' %}?id={{ staff_number }}" class="nav-link">
    {% endif %}
{% endblock %}

{# 通过继承在新页面改写用户名 #}
{% block user %}
    {{ name }}
{% endblock %}

{% block job %}
    身份:{{ job }}
{% endblock %}

{# 右边个人信息栏 #}
{% block self %}
    {{ name }}
{% endblock %}

{% block head %}
    <style>
    .select-box{
        width: 20px;
    }
    </style>
{% endblock %}

{# 登录登出图标 #}
{% block login_logout %}
    {% if name == '客户'%}
        <a class="btn btn-block px-0 btn-rounded btn-upgrade" href="/login/">
            <i class="icon-badge mx-2"></i>登录
        </a>
    {% else %}
        <a class="btn btn-block px-0 btn-rounded btn-upgrade" href="/logout/">
            <i class="icon-badge mx-2"></i>注销
        </a>
    {% endif %}
{% endblock %}

{# 右边选项栏 #}
{% block option %}
    {% if name == '客户' %}
        <a class="dropdown-item" href="{% url 'index' %}"><i class="dropdown-item-icon icon-speech text-primary"></i> 查看设备</a>
        <a class="dropdown-item" href="{% url 'about' %}"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item" href="{% url 'login' %}"><i class="dropdown-item-icon icon-login text-primary"></i>登录</a>
    {% elif is_admin == 1 %}
        <a class="dropdown-item" href="{% url 'manage_demand' %}?page=1"><i class="dropdown-item-icon icon-camera text-primary"></i>待分配<span class="badge badge-pill badge-danger" id="allot" onload="f1()">-</span> </a>
        <a class="dropdown-item" href="{% url 'test_history' %}?page=1"><i class="dropdown-item-icon icon-calendar text-primary"></i> 测试记录 </a>
        <a class="dropdown-item" href="{% url 'parts' %}"><i class="dropdown-item-icon icon-map text-primary"></i>查看配件</a>
        <a class="dropdown-item" href="{% url 'about' %}"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item" href="{% url 'logout' %}"><i class="dropdown-item-icon icon-power text-primary"></i> 注销</a>
    {% elif is_init == 1 %}
        <a class="dropdown-item" href="{% url 'sample_info' %}"><i class="dropdown-item-icon icon-plus text-primary"></i> 发起需求 </a>
        <a class="dropdown-item" href="{% url 'test_history' %}?page=1"><i class="dropdown-item-icon icon-calendar text-primary"></i> 测试记录 </a>
        <a class="dropdown-item" href="{% url 'parts' %}"><i class="dropdown-item-icon icon-map text-primary"></i>查看配件</a>
        <a class="dropdown-item" href="{% url 'about' %}"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item" href="{% url 'logout' %}"><i class="dropdown-item-icon icon-power text-primary"></i> 注销</a>
    {% else %}
        <a class="dropdown-item" href="{% url 'test_history' %}?page=1"><i class="dropdown-item-icon icon-calendar text-primary"></i> 测试记录 </a>
        <a class="dropdown-item" href="{% url 'parts' %}"><i class="dropdown-item-icon icon-map text-primary"></i>查看配件</a>
        <a class="dropdown-item" href="{% url 'about' %}"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item" href="{% url 'logout' %}"><i class="dropdown-item-icon icon-power text-primary"></i> 注销</a>
    {% endif %}
{% endblock %}

{# 管理员-设备管理选项 #}
{% block admin %}
    {% if is_admin == 1 %}
    <li class="nav-item nav-category">
      <a class="nav-link" data-toggle="collapse" href="#admin" aria-expanded="false" aria-controls="admin">
        <span class="menu-title nav-category">管理选项</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
      <div class="collapse" id="admin">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'test_history' %}?page=1">测试记录汇总<i class="icon-calendar menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'manage_devices' %}">设备管理<i class="icon-camera menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'manage_demand' %}?page=1">需求分配<i class="icon-bag menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'many_devices' %}">导入系统<i class="icon-bag menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% endif %}
{% endblock %}

{# 判断是否为需求发起人 #}
{% block init %}
    {% if is_init == 1 %}
    <li class="nav-item nav-category">
      <a class="nav-link" data-toggle="collapse" href="#demand" aria-expanded="false" aria-controls="demand">
        <span class="menu-title nav-category">需求管理</span>
        <i class="icon-list menu-icon"></i>
      </a>
      <div class="collapse" id="demand">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'sample_info' %}">发起需求<i class="icon-plus menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'demand_recoder' %}">需求记录<i class="icon-hourglass menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">帮助<i class="icon-question menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% endif %}
{% endblock %}

{% block staff %}
    {% if name == '客户' %}
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="menu-title">更多功能</span>
        <i class=" icon-wrench menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-title nav-category">公司介绍</span>
        <i class="icon-list menu-icon"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="https://www.longsys.com/">公司官网<i class="icon-home menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">关于我们<i class="icon-people menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">帮助<i class="icon-question menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'personal_task' %}">
        <span class="menu-title">设备测试</span>
        <i class=" icon-wrench menu-icon"></i>
      </a>
    </li>
    <li class="nav-item nav-category" id="self">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-title">个人中心</span>
        <i class="icon-user menu-icon"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="{% url 'test_history' %}?page=1"> 个人记录 <i class="icon-calendar menu-icon"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'parts' %}"> 查看配件 <i class="icon-map menu-icon"></i></a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'about' %}"> 关于 <i class="icon-question menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% endif %}
{% endblock %}


{% block content %}
<div class="col-md-12 table-responsive-sm" style="background-color: white; padding-top: 10px;">
    <h2 class="text-center">嵌入式平台设备</h2>
    <div class="table-responsive" style="border-top: 2px solid #ecf0f4">
        <table class="table table-hover" id="table_data">
            <thead>
            <tr>
                <th>
                    平台编号
                </th>
                <th>
                    速度模式
                    <select class="choose-btn select-box" name="speed" id="speed" onchange="filt_data(this.id)">
                        <option value="none"></option>
                        {% for speed in options.speed %}
                            <option value="{{ speed }}">{{ speed }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    OEM方案商
                    <select class="choose-btn select-box" name="OEM" id="OEM" onchange="filt_data(this.id)">
                        <option value="none"></option>
                        {% for OEM in options.OEM %}
                            <option value="{{ OEM }}">{{ OEM }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    ROM类型
                    <select class="choose-btn select-box" name="ROM" id="ROM" onchange="filt_data(this.id)">
                        <option value="none"></option>
                        {% for ROM in options.ROM %}
                            <option value="{{ ROM }}">{{ ROM }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    SOC方案商
                    <select class="choose-btn select-box" name="SOC" id="SOC" onchange="filt_data(this.id)">
                        <option value="none"></option>
                        {% for SOC in options.SOC %}
                            <option value="{{ SOC }}">{{ SOC }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    SOC型号
                    <select class="choose-btn select-box" name="SOC_spec" id="SOC_spec" onchange="filt_data(this.id)">
                        <option value="none"></option>
                        {% for SOC_spec in options.SOC_spec %}
                            <option value="{{ SOC_spec }}">{{ SOC_spec }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    样机类型
                    <select class="choose-btn select-box" name="sample" id="sample" onchange="filt_data(this.id)">
                        <option value="none"></option>
                        {% for sample in options.sample %}
                            <option value="{{ sample }}">{{ sample }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    操作系统
                    <select class="choose-btn select-box" name="system" id="system" onchange="filt_data(this.id)">
                        <option value="none"></option>
                        {% for sys in options.system %}
                            <option value="{{ sys }}">{{ sys }}</option>
                        {% endfor %}
                    </select>
                </th>
                <th>
                    总数量
                    <select class="choose-btn select-box" name="num" id="num" onchange="filt_data(this.id)">
                        <option value="none"></option>
                        <option value="升序">升序</option>
                        <option value="降序">降序</option>
                    </select>
                </th>
                <th>
                    状态
                    <select class="choose-btn select-box" name="state" id="state" onchange="filt_data(this.id)">
                        <option value="none"></option>
                        {% for state in options.state %}
                            <option value="{{ state }}">{{ state }}</option>
                        {% endfor %}
                    </select>
                </th>
            </tr>
            </thead>
            {% for platform, devices in devices.items %}
            <tr id="{{ platform }}" onclick="action(this.id)">
                <td>{{ platform }}</td>
                <td>{{ devices.0.speed }}</td>
                <td>{{ devices.0.OEM }}</td>
                <td>{{ devices.0.ROM }}</td>
                <td>{{ devices.0.SOC }}</td>
                <td>{{ devices.0.SOC_spec }}</td>
                <td>{{ devices.0.sample_type }}</td>
                <td>{{ devices.0.system }}</td>
                <td>{{ devices|length }}</td>
                <td id="{{ platform }}-state">点击展开>></td>
            </tr>
                {% for d in devices %}
                <tr class="{{ platform }} d-none table-secondary" style="padding: 0 5px">
                    <td>{{ d.platform }}_{{ d.num }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>测试次数</td>
                    <td><a href="#">历史测试</a></td>
                    {% if devices.0.state.state == '可使用' %}
                        <td><label class="badge badge-success">{{ devices.0.state.state }}</label></td>
                    {% else %}
                        <td><label class="badge badge-dark">{{ devices.0.state.state }}</label></td>
                    {% endif %}
                </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
</div>
<script>
function action(class_name){
    var data = $("."+class_name);
    if (data.eq(0).hasClass('d-none')){
        for (i=0; i<data.length; i++ ){
            data.eq(i).removeClass('d-none');
        }
        $("#"+class_name+'-state').text('点击关闭<<')
    }else{
        for (i=0; i<data.length; i++ ){
            data.eq(i).addClass('d-none');
        }
        $("#"+class_name+'-state').text('点击展开>>')
    }
}
function filt_data(id){
    var value = $("#"+id).val();
    $.ajax({
        url: '{% url 'index_flush' %}',
        type: 'post',
        data: {
            'way': id,
            'value': value,
            'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        success: function (res) {
            var data = eval(res);
            console.log(data);
            $("#table_data").html(data.data);
        },
        error: function () {
            alert('发生未知错误，请刷新试试~');
        }
    })
 }
</script>
{% endblock %}
</a>
</a>