{% extends 'blog/base.html' %}

{% block detail %}
  <div class="content-wrap"><!--内容-->
    <div class="content">
      <div class="content-block about-content">
        <h2 class="title"><strong>关于技术博客</strong></h2>
        <p class="line-title">想要深入了解<span>技术博客？</span></p>
        <p>个人技术博客的		内容大概为网站前端和后端的技术，包括内容管理系统，文章内容有我自己的原创，也有其他网站转载过来的精品，如果我遇到好的资源会第一时间发布在本博客内。</p>
        <p>大家如果有好的文章好的技术请不要吝啬，欢迎前来投稿！</p>
        <p>如果有什么疑问或者需要投稿的请使用下方联系方式，或者留言来告诉我，收到后第一时间回复。</p>
      </div>
      <div class="content-block contact-content">
        <h2 class="title"><strong>联系技术博客</strong></h2>
        <p><span>站长QQ：</span><a href="tencent://message/?uin=0000000000\">786369470</a></p>
        <p><span>交流群：</span><a href="">暂无</a></p>
        <p><span>站长信箱：</span><a href="mailto:admin@xxxx.com">786369470@qq.com</a></p>
      </div>
    </div>
  </div>
{% endblock %}