{% extends 'blog/base.html' %}

{% block head %}
    个人主页
{% endblock %}

{#index部分忽略#}
{% block index %}
{% endblock %}

{#每日一句时间#}
{% block time %}
    {{ now_time }}&emsp;星期{{ this_week }}
{% endblock %}

{#热门推荐#}
{% block hot2 %}
    {% for new in new_blog %}
        <li><a target="_blank" href=""> <span class="thumb"><img src="/static/media/{{ new.name.photo }}" alt=""></span> <span class="text">{{ new.content }}</span> <span class="text-muted">阅读(2165)</span></a></li>
            {% endfor %}
{% endblock %}

{#最新评论#}
{% block comment %}
    {% for c in comment %}
        <li data-toggle="tooltip" data-placement="top" title="{{ c.name.name }}的评论"><a target="_blank" href=""><span class="face"><img src="/static/media/{{ c.name.photo }}" alt=""></span> <span class="text"><strong>{{ c.name.name }}</strong> ({{ c.time }}) 说：<br />
          {{ c.content }}</span></a></li>
            {% endfor %}
{% endblock %}


{% block login %}
    {% if username|length == 0 %}
        <li><a href="/main/login/"><span class="glyphicon glyphicon-inbox"></span>注册登录</a></li>
    {% else %}
        <li><a href="/blog/person/"><span class="glyphicon glyphicon-inbox"></span>欢迎你:{{ username }}</a></li>
        <li><a href="/blog/addblog/ "><span class="glyphicon glyphicon-bold"></span>发表博客</a></li>
        <li><a href="/main/logout/"><span class="glyphicon glyphicon-remove"></span>注销</a></li>
    {% endif %}
{% endblock %}


{% block detail %}
<link rel="stylesheet" href="/static/blog/css/person.css">
  <div class="content-wrap"><!--内容-->
        <div class="content">
            <div class="content-block">
                <h2 class="title"><strong>个人主页</strong></h2>
                <div id="left_block">
                    <div id="photo">
                        <img src="/static/media/{{ self.photo }}">
                    </div>
                    <ul>
                        <li>昵称:<span>{{ self.name }}</span></li>
                        <li>性别:<span>{{ gender }}</span></li>
                        <li>账号:<span>{{ self.username }}</span></li>
                        <li><a href="/main/img/username={{ user.username }}/" class="glyphicon glyphicon-pencil">更新头像</a></li>
                    </ul>
                </div>
                <div id="right_block">
                    <ul>
                        <li>点赞({{ up }})</li>
                        <li>收藏({{ star }})</li>
                        <li>关注(0)</li>
                        <li>粉丝(0)</li>
                        <li>个人链接:<a href="www.baidu.com">www.baidu.com</a></li>
                        <li>QQ:786369470</li>
                        <li>个性签名:孙咲川天皇是弟弟</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </div>
{% endblock %}