#inputs{
    position: relative;
    top: 50px;
    width: 300px;
    margin: 0 auto;
}
#password{
    position: relative;
    top: 30px;
}
#login_box_in .row input{
    display: inline-block;
    width: 250px;
}
#login_btn{
    position: relative;
    top: 120px;
    width: 100px;
    margin: 0 auto;
    transition: 0.5s;
}
#login_btn:hover{
    background-color: aliceblue;
}
#register{
    text-align: center;
    position: relative;
    top: 150px;
}
#register a{
    font-size: 14px;
    color: gray;
}
#canteen_table{
    margin: 20px 2px;
    width: 22%;
    text-align: center;
    display: inline-block;
    border-radius: 10%;
    transition: 0.5s;
}
#canteen_table:hover{
    background-color: whitesmoke;
    opacity: 0.8%;
}
#canteen_table img{
    width: 85%;
    margin: 0 auto;
}

/* 菜单 */
#foods{
    width: 100%;
    height: 157px;
    position: relative;
}
#food_img{
    width: 35%;
    height: 157px;
    display: inline-block;
    position: absolute;
}
#food_img img{
    width: 100%;
}
#food_intro{
    width: 460px;
    position: absolute;
    display: inline-block;
    height: 157px;
    left: 270px;
}