#inputs{
    position: relative;
    top: 50px;
    width: 300px;
    margin: 0 auto;
}
#password{
    position: relative;
    top: 30px;
}
#login_box_in .row input{
    display: inline-block;
    width: 250px;
}
#login_btn{
    position: relative;
    top: 120px;
    width: 100px;
    margin: 0 auto;
    transition: 0.5s;
}
#login_btn:hover{
    background-color: aliceblue;
}
#register{
    text-align: center;
    position: relative;
    top: 150px;
}
#register a{
    font-size: 14px;
    color: gray;
}
#canteen_table{
    width: 24.5%;
    text-align: center;
    display: inline-block;
}
#canteen_table img{
    width: 90%;
}