{% extends 'blog/base.html' %}

{% block head %}
    餐厅管理界面
{% endblock %}

{#index部分忽略#}
{% block index %}
{% endblock %}

{#每日一句时间#}
{% block time %}
    {{ now_time }}&emsp;星期{{ this_week }}
{% endblock %}

{#热门推荐#}
{% block hot2 %}
    {% for new in new_blog %}
        <li><a target="_blank" href=""> <span class="thumb"><img src="/static/media/{{ new.name.photo }}" alt=""></span> <span class="text">{{ new.content|truncatechars:40 }}</span> <span class="text-muted">阅读({{ new.visit }})</span></a></li>
            {% endfor %}
{% endblock %}

{#最新评论#}
{% block comment %}
    {% for c in comment %}
        <li data-toggle="tooltip" data-placement="top" title="{{ c.name.name }}的评论"><a target="_blank" href=""><span class="face"><img src="/static/media/{{ c.name.photo }}" alt=""></span> <span class="text"><strong>{{ c.name.name }}</strong> ({{ c.time }}) 说：<br />
          {{ c.content }}</span></a></li>
            {% endfor %}
{% endblock %}


{% block login %}
    {% if username|length == 1 %}
        <li><a href="/blog/login/"><span class="glyphicon glyphicon-inbox"></span>注册登录</a></li>
    {% else %}
        <li><a href="/blog/person/"><span class="glyphicon glyphicon-inbox"></span>{{ username }}</a></li>
        <li><a href="/blog/addblog/"><span class="glyphicon glyphicon-bold"></span>发表博客</a></li>
        <li><a href="/main/logout/"><span class="glyphicon glyphicon-remove"></span>注销</a></li>
    {% endif %}
{% endblock %}


{% block detail %}
<link rel="stylesheet" href="/static/blog/css/login.css">
  <div class="content-wrap"><!--内容-->
    <div class="content">
        <div class="content-block">
            <h2 class="title"><strong>餐厅管理</strong></h2>
            <!-- 表格 -->
            <table class="table table-hover table-striped">
                <tr>
                    <td>餐厅名:{{ canteen.canteen_name }}</td>
                    <td>操作</td>
                </tr>
                <tr>
                    <td>BOSS:{{ canteen.canteen_boss }}</td>
                    <td><a href="#">修改</a></td>
                </tr>
                <tr>
                    <td>餐厅编号:{{ canteen.canteen_num }}</td>
                    <td><a href="#">修改</a></td>
                </tr>
                <tr>
                    <td>历史订单</td>
                    <td><a href="#">查看</a></td>
                </tr>
                <tr>
                    <td>餐厅桌位</td>
                    <td><a href="#">查看</a></td>
                </tr>
                <tr>
                    <td>餐厅菜单</td>
                    <td><a href="#">查看</a></td>
                </tr>
            </table>
        </div>
    </div>
  </div>
{% endblock %}