{% extends 'blog/base.html' %}

{% block head %}
    选择餐厅
{% endblock %}

{#index部分忽略#}
{% block index %}
{% endblock %}

{#每日一句时间#}
{% block time %}
    {{ now_time }}&emsp;星期{{ this_week }}
{% endblock %}

{#热门推荐#}
{% block hot2 %}
    {% for new in new_blog %}
        <li><a target="_blank" href=""> <span class="thumb"><img src="/static/media/{{ new.name.photo }}" alt=""></span> <span class="text">{{ new.content|truncatechars:40 }}</span> <span class="text-muted">阅读({{ new.visit }})</span></a></li>
            {% endfor %}
{% endblock %}

{#最新评论#}
{% block comment %}
    {% for c in comment %}
        <li data-toggle="tooltip" data-placement="top" title="{{ c.name.name }}的评论"><a target="_blank" href=""><span class="face"><img src="/static/media/{{ c.name.photo }}" alt=""></span> <span class="text"><strong>{{ c.name.name }}</strong> ({{ c.time }}) 说：<br />
          {{ c.content }}</span></a></li>
            {% endfor %}
{% endblock %}


{% block login %}
    {% if username|length == 1 %}
        <li><a href="/main/login/"><span class="glyphicon glyphicon-inbox"></span>注册登录</a></li>
    {% else %}
        <li><a href="/blog/person/"><span class="glyphicon glyphicon-inbox"></span>欢迎你:{{ username }}</a></li>
        <li><a href="/blog/addblog/"><span class="glyphicon glyphicon-bold"></span>发表博客</a></li>
        <li><a href="/main/logout/"><span class="glyphicon glyphicon-remove"></span>注销</a></li>
    {% endif %}
{% endblock %}


{% block detail %}
<link rel="stylesheet" href="/static/blog/css/login.css">
  <div class="content-wrap"><!--内容-->
    <div class="content">
        <div class="content-block">
            <h2 class="title"><strong>请输入餐厅对应序号</strong></h2>
            <form action="#" method="post">
                <div id="inputs">
                    <div class="row" id="username">
                        <span>餐厅序号:</span>
                        <input type="text" class="form-control" name="name" placeholder="输入餐厅编号，如 999" value="{{ canteen_num }}">
                        {% if warming|length != 0 %}
                            <p class="danger">您输入的编号有误，请重新输入</p>
                        {% endif %}
                    </div>
                </div>
                <input type="submit" value="进入餐厅" class="form-control" id="login_btn">
            </form>
        </div>
    </div>
  </div>
{% endblock %}