{% extends 'blog/base.html' %}

{% block head %}
    选择座位
{% endblock %}

{#index部分忽略#}
{% block index %}
{% endblock %}

{#每日一句时间#}
{% block time %}
    {{ now_time }}&emsp;星期{{ this_week }}
{% endblock %}

{#热门推荐#}
{% block hot2 %}
    {% for new in new_blog %}
        <li><a target="_blank" href=""> <span class="thumb"><img src="/static/media/{{ new.name.photo }}" alt=""></span> <span class="text">{{ new.content|truncatechars:40 }}</span> <span class="text-muted">阅读({{ new.visit }})</span></a></li>
            {% endfor %}
{% endblock %}

{#最新评论#}
{% block comment %}
    {% for c in comment %}
        <li data-toggle="tooltip" data-placement="top" title="{{ c.name.name }}的评论"><a target="_blank" href=""><span class="face"><img src="/static/media/{{ c.name.photo }}" alt=""></span> <span class="text"><strong>{{ c.name.name }}</strong> ({{ c.time }}) 说：<br />
          {{ c.content }}</span></a></li>
            {% endfor %}
{% endblock %}


{% block login %}
    {% if username|length == 1 %}
        <li><a href="/main/login/"><span class="glyphicon glyphicon-inbox"></span>注册登录</a></li>
    {% else %}
        <li><a href="/blog/person/"><span class="glyphicon glyphicon-inbox"></span>欢迎你:{{ username }}</a></li>
        <li><a href="/blog/addblog/"><span class="glyphicon glyphicon-bold"></span>发表博客</a></li>
        <li><a href="/main/logout/"><span class="glyphicon glyphicon-remove"></span>注销</a></li>
    {% endif %}
{% endblock %}


{% block detail %}
<link rel="stylesheet" href="/static/blog/css/login.css">
  <div class="content-wrap"><!--内容-->
    <div class="content">
        <div class="content-block">
            <h2 class="title"><strong>请选择桌号</strong></h2>
            <div id="canteen_table">
                <img src="/static/canteen/img/table_none.png" >
                <p>餐桌人数</p>
                <p>餐桌号:</p>
            </div>
            <div id="canteen_table">
                <img src="/static/canteen/img/table_none.png" >
                <p>餐桌人数</p>
                <p>餐桌号:</p>
            </div>
            <div id="canteen_table">
                <img src="/static/canteen/img/table_none.png" >
                <p>餐桌人数</p>
                <p>餐桌号:</p>
            </div>
            <div id="canteen_table">
                <img src="/static/canteen/img/table_none.png" >
                <p>餐桌人数</p>
                <p>餐桌号:</p>
            </div>

        </div>
    </div>
  </div>
{% endblock %}