{% extends 'blog/base.html' %}

{% block head %}
    菜单
{% endblock %}

{#index部分忽略#}
{% block index %}
{% endblock %}

{#每日一句时间#}
{% block time %}
    {{ now_time }}&emsp;星期{{ this_week }}
{% endblock %}

{#热门推荐#}
{% block hot2 %}
    {% for new in new_blog %}
        <li><a target="_blank" href=""> <span class="thumb"><img src="/static/media/{{ new.name.photo }}" alt=""></span> <span class="text">{{ new.content|truncatechars:40 }}</span> <span class="text-muted">阅读({{ new.visit }})</span></a></li>
            {% endfor %}
{% endblock %}

{#最新评论#}
{% block comment %}
    {% for c in comment %}
        <li data-toggle="tooltip" data-placement="top" title="{{ c.name.name }}的评论"><a target="_blank" href=""><span class="face"><img src="/static/media/{{ c.name.photo }}" alt=""></span> <span class="text"><strong>{{ c.name.name }}</strong> ({{ c.time }}) 说：<br />
          {{ c.content }}</span></a></li>
            {% endfor %}
{% endblock %}


{% block login %}
    {% if username|length == 1 %}
        <li><a href="/blog/login/"><span class="glyphicon glyphicon-inbox"></span>注册登录</a></li>
    {% else %}
        <li><a href="/blog/person/"><span class="glyphicon glyphicon-inbox"></span>{{ username }}</a></li>
        <li><a href="/blog/addblog/"><span class="glyphicon glyphicon-bold"></span>发表博客</a></li>
        <li><a href="/main/logout/"><span class="glyphicon glyphicon-remove"></span>注销</a></li>
    {% endif %}
{% endblock %}


{% block detail %}
<link rel="stylesheet" href="/static/blog/css/login.css">
  <div class="content-wrap"><!--内容-->
    <div class="content">
        <div class="content-block">
            <h2 class="title"><strong>{{ canteen_name }}-菜单</strong>&nbsp;&nbsp;
                {% if is_boss == 1 %}
                    <a href="/canteen/addfood/" style="color: #666;"><strong>新增菜品</strong></a>
                {% else %}
                {% endif %}
            </h2>
            {% for food in menu %}
            <div id="foods">
                <!-- 左边图片 -->
                <div id="food_img">
                    <img src="/static/{{ food.food_img }}">
                </div>
                <!-- 右边简介 -->
                <div id="food_intro">
                    <ul>
                        <li><a href="#"><h2 class="food_name" title="{{ food.food_name }}">{{ food.food_name }}</h2></a></li>
                        <li><p style="display: block; height: 70px;">{{ food.food_intro }}</p></li>
                        <li style="position:relative;">
                            <span style="font-size: 22px;" class="food_price" title="{{ food.food_price }}">价格￥:{{ food.food_price }}</span>
                            <span style="font-size: 14px; margin-left: 5px">赞:  {{ food.food_up }}</span>
                            <span style="font-size: 14px; margin-left: 5px">已售:  {{ food.food_sold }}</span>
                            <span style="position:absolute; right: 20px; top: 4px;">
                                {# javascript:void(0)伪代码取消a标签的跳转功能 #}
                                <a href="javascript:void(0)" onclick="return false" class="glyphicon glyphicon-minus" id="{{ food.id }}_less"></a>
                                &nbsp;&nbsp;
                                <span><input type="text" id="food_{{ food.id }}" class="foods" value="0" style="width: 30px; text-align: center"></span>
                                &nbsp;&nbsp;
                                <a href="javascript:void(0)" class="glyphicon glyphicon-plus" id="{{ food.id }}_more"></a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <script>
                var bt1 = document.getElementById('{{ food.id }}_less');
                var bt2 = document.getElementById('{{ food.id }}_more');
                var nums = document.getElementById('food_{{ food.id }}').value;
                nums{{ food.id }} = parseInt(nums);
                bt1.onclick = function () {
                    if (nums{{ food.id }} >= 1){
                        nums{{ food.id }} -= 1;
                        $('#food_{{ food.id }}').val(nums{{ food.id }});
                    }else{
                        alert('菜品数量必须大于一份！');
                    }
                };
                bt2.onclick = function () {
                    nums{{ food.id }} += 1;
                    $('#food_{{ food.id }}').val(nums{{ food.id }});
                };
            </script>
            {% endfor %}
            <div id="commit_menu">
                <button id="commit_bt" class="btn-primary">确定</button>
            </div>
            <script>
                // 提交点菜菜单
                var commit = document.getElementById('commit_bt');
                commit.onclick = function () {
                    var food_nums = document.getElementsByClassName('foods');           //
                    var food_names = document.getElementsByClassName('food_name');
                    var food_price = document.getElementsByClassName('food_price');
                    // 保存菜的名字和数量
                    var foods_ls = [];
                    var all_price = 0;
                    for (var i=0; i<food_nums.length; i++ ){
                        // 获取点的菜的数量
                        var name = food_names[i].title;
                        var num = parseInt(food_nums[i].value);
                        var price = parseFloat(food_price[i].title);
                        var food = {
                            'name': name,
                            'nums': num,
                            'price': num * price
                        };
                        foods_ls.push(food);
                        all_price += num * price;
                    }
                    console.log(foods_ls);
                    $.ajax({
                        url: '/canteen/p/{{ table_num }}/',
                        type: 'post',
                        data: {
                            'foods': foods_ls,
                            'table_num': {{ table_num }},
                            'client_name': '{{ username }}',
                            'all_price': all_price,
                            'len': food_nums.length,
                            'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val()
                        },
                        success:function (res) {
                            alert('点餐成功！');
                            window.location.href = res
                        },
                        error:function (err) {
                            alert(err);
                        }
                    })
                }
            </script>
        </div>
    </div>
  </div>
{% endblock %}