{% extends 'device_manage/base/base.html' %}
<!-- 分为客户/测试者/管理员三种身份，通过登录方式判断身份，客户不用登陆
客户只能查看基础页面，管理员可以查看所有信息-->

{% block personal %}
    <a href="{% url 'personal_home' %}?id={{ staff_number }}" class="nav-link">
{% endblock %}

{# 通过继承在新页面改写用户名 #}
{% block user %}
    {{ name }}
{% endblock %}

{% block job %}
    身份:{{ job }}
{% endblock %}

{# 右边个人信息栏 #}
{% block self %}
    {{ name }}
{% endblock %}

{# 登录登出图标 #}
{% block login_logout %}
    {% if name == '客户'%}
        <a class="btn btn-block px-0 btn-rounded btn-upgrade" href="/login/">
            <i class="icon-badge mx-2"></i>登录
        </a>
    {% else %}
        <a class="btn btn-block px-0 btn-rounded btn-upgrade" href="/logout/">
            <i class="icon-badge mx-2"></i>注销
        </a>
    {% endif %}
{% endblock %}

{# 右边选项栏 #}
{% block option %}
    {% if name == '客户' %}
        <a class="dropdown-item"  href="{% url 'index' %}"><i class="dropdown-item-icon icon-speech text-primary"></i> 查看设备 </a>
        <a class="dropdown-item"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item"><i class="dropdown-item-icon icon-login text-primary"></i>登录</a>
    {% else %}
        <a class="dropdown-item"  href="{% url 'index' %}"><i class="dropdown-item-icon icon-camera text-primary"></i> 查看设备 </a>
        <a class="dropdown-item"><i class="dropdown-item-icon icon-calendar text-primary"></i> 测试记录 </a>
        <a class="dropdown-item"><i class="dropdown-item-icon icon-map text-primary"></i> 测试报表 </a>
        <a class="dropdown-item"><i class="dropdown-item-icon icon-question text-primary"></i>关于</a>
        <a class="dropdown-item"><i class="dropdown-item-icon icon-power text-primary"></i> 注销</a>
    {% endif %}
{% endblock %}

{# 管理员-设备管理选项 #}
{% block admin %}
    {% if is_admin == 1 %}
    <li class="nav-item nav-category">
      <a class="nav-link" data-toggle="collapse" href="#admin" aria-expanded="false" aria-controls="admin">
        <span class="menu-title nav-category">管理选项</span>
        <i class="icon-screen-desktop menu-icon"></i>
      </a>
      <div class="collapse" id="admin">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'test_history' %}?page=1">测试记录汇总<i class="icon-calendar menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'manage_devices' %}">设备管理<i class="icon-camera menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'user_list' %}?page=1">人员管理<i class="icon-people menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="{% url 'manage_demand' %}?page=1">需求分配<i class="icon-bag menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% endif %}
{% endblock %}

{# 判断是否为需求发起人 #}
{% block init %}
    {% if is_init == 1 %}
    <li class="nav-item nav-category">
      <a class="nav-link" data-toggle="collapse" href="#demand" aria-expanded="false" aria-controls="demand">
        <span class="menu-title nav-category">需求管理</span>
        <i class="icon-list menu-icon"></i>
      </a>
      <div class="collapse" id="demand">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="{% url 'new_demand' %}">发起需求<i class="icon-plus menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">需求记录<i class="icon-hourglass menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">帮助<i class="icon-question menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% endif %}
{% endblock %}

{% block staff %}
    {% if name == '客户' %}
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span class="menu-title">更多功能</span>
        <i class=" icon-wrench menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-title nav-category">公司介绍</span>
        <i class="icon-list menu-icon"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="https://www.longsys.com/">公司官网<i class="icon-home menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">关于我们<i class="icon-people menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#">帮助<i class="icon-question menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'choose' %}">
        <span class="menu-title">设备测试</span>
        <i class=" icon-wrench menu-icon"></i>
      </a>
    </li>
    <li class="nav-item nav-category">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <span class="menu-title">个人中心</span>
        <i class="icon-user menu-icon"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="#"> 个人记录 <i class="icon-calendar menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#"> 生成报表 <i class="icon-map menu-icon"></i></a></li>
          <li class="nav-item"> <a class="nav-link" href="#"> 关于 <i class="icon-question menu-icon"></i></a></li>
        </ul>
      </div>
    </li>
    {% endif %}
{% endblock %}

{# 修改操作框内容 #}
{% block content %}
    <div class="col-md-12" style="background-color:white; padding-bottom: 20px; border-bottom: #ecf0f4 2px solid">
        <h2 class="text-center">选择待测设备</h2>
        <div class="col-md-8" style="margin: 0 auto;">
            <label class="form-check-label text-muted">
                设备类型：
            </label>
            <div class="form-check" style="width: 90px; display: inline-block;">
                <label class="form-check-label text-muted">
                    <input type="checkbox" class="form-check-input" id="d1" onclick="load_option(this.id)"> 相机
                </label>
            </div>
            <div class="form-check" style="width: 90px; display: inline-block;">
                <label class="form-check-label text-muted">
                    <input type="checkbox" class="form-check-input" id="d2"> 运动相机
                </label>
            </div>
            <div class="form-check" style="width: 90px; display: inline-block;">
                <label class="form-check-label text-muted">
                    <input type="checkbox" class="form-check-input" id="d3"> Switch
                </label>
            </div>
            <div class="form-check" style="width: 90px; display: inline-block;">
                <label class="form-check-label text-muted">
                    <input type="checkbox" class="form-check-input" id="d4"> 无人机
                </label>
            </div>
            <div class="form-check" style="width: 90px; display: inline-block;">
                <label class="form-check-label text-muted">
                    <input type="checkbox" class="form-check-input" id="d5"> IPC
                </label>
            </div>
            <div class="form-check" style="width: 100px; display: inline-block;">
                <label class="form-check-label text-muted">
                    <input type="checkbox" class="form-check-input" id="d6"> 行车记录仪
                </label>
            </div>
            <div class="form-check" style="width: 90px; display: inline-block;">
                <label class="form-check-label text-muted">
                    <input type="checkbox" class="form-check-input" id="d7"> 手机
                </label>
            </div>
            <div class="form-check" style="width: 90px; display: inline-block;">
                <label class="form-check-label text-muted">
                    <input type="checkbox" class="form-check-input" id="d8"> 平板
                </label>
            </div>
            <script>
                function load_option(id) {
                    var camera = $('#'+id);
                    console.log(camera.get(0).checked);
                    if(camera.get(0).checked){
                        $('#camera_search').removeClass('d-none')
                    }else{
                        $('#camera_search').addClass('d-none')
                    }
                }
            </script>
        </div>

        <div class="col-md-10 d-none" style="margin: 0 auto; padding-bottom: 15px;" id="camera_search">
            <div class="form-check" style="width: 100px; display: inline-block;">
                <label class="form-check-label text-muted">
                    <input type="checkbox" class="form-check-input" name="year"> 上市年份:
                </label>
            </div>
            <input type="text" name="year" class="form-control" style="width: 100px; height: 35px; display: inline-block;">
            <div class="form-check" style="width: 90px; display: inline-block; margin-left: 20px;">
                <label class="form-check-label text-muted">
                    <input type="checkbox" class="form-check-input" name="year"> 搜索品牌:
                </label>
            </div>
            <input type="text" name="year" class="form-control" style="width: 100px; height: 35px; display: inline-block;">
            <div class="form-check" style="width: 70px; display: inline-block; margin-left: 20px;">
                <label class="form-check-label text-muted">
                    <input type="checkbox" class="form-check-input" name="year"> 卡槽:
                </label>
            </div>
            <select name="year" class="form-control" style="width: 100px; height: 35px; display: inline-block;">
                <option value="UHS-I">UHS-I</option>
                <option value="UHS-II">UHS-II</option>
                <option value="CF">CF卡</option>
                <option value="Double">双卡槽</option>
            </select>
            <div class="form-check" style="width: 120px; display: inline-block; margin-left: 20px;">
                <label class="form-check-label text-muted">
                    <input type="checkbox" class="form-check-input" name="year"> 搜索支持卡型:
                </label>
            </div>
            <input type="text" name="year" class="form-control" style="width: 200px; height: 35px; display: inline-block;">
            <div class="form-check" style="width: 100px; display: inline-block; margin-left: 20px;">
                <label class="form-check-label text-muted">
                    <input type="checkbox" class="form-check-input" name="year"> 问题相机
                </label>
            </div>
        </div>

        <div class="col-md-8" style="margin: 0 auto;">
            <div class="input-group col-md-5" style="margin: 0 auto;">
                <input type="text" class="form-control file-upload-info" style="width: 200px; height: 35px; margin: 0 auto;" placeholder="查找设备型号/编号">
                <span class="input-group-append">
                    <button class="file-upload-browse btn btn-primary" style="height: 35px">搜索</button>
                </span>
            </div>
        </div>
    </div>

    <div class="col-md-12 table-responsive" style="background-color: white; padding-bottom: 20px;">
        <table class="table table-hover table-striped">
            <thead>
            <tr>
                <th>{{ type }}</th>
                <th>设备编号</th>
                <th>设备品牌</th>
                <th>设备型号</th>
                <th>上市年份</th>
                <th>数量</th>
                <th>是否支持4K</th>
                <th>固件版本</th>
                <th>卡片形态</th>
                <th>卡槽</th>
                <th>状态</th>
            </tr>
            </thead>
            {% for d in num_page_data_list %}
            <tr id="{{ d.1.id }}" onclick="check_choose({{ d.1.id }})">
                {% csrf_token %}
                <td>{{ d.0 }}</td>
                <td>{{ d.1.device_id }}</td>
                <td>{{ d.1.device_brand }}</td>
                <td>{{ d.1.device_spec }}</td>
                <td>{{ d.1.device_year }}</td>
                <td>{{ d.2 }}</td>
                <td>{{ d.1.device_support }}</td>
                <td>{{ d.1.device_fw_ver }}</td>
                <td>{{ d.1.device_card }}</td>
                <td>{{ d.1.device_card_slog }}</td>
                {% if d.1.device_state.state == '可使用' %}
                    <td><label class="badge badge-success">{{ d.1.device_state.state }}</label></td>
                {% elif d.1.device_state.state == '维护中' %}
                    <td><label class="badge badge-dark">{{ d.1.device_state.state }}</label></td>
                {% elif d.1.device_state.state == '无电池' %}
                    <td><label class="badge badge-dark">{{ d.1.device_state.state }}</label></td>
                {% elif d.1.device_state.state == '卡槽损坏' %}
                    <td><label class="badge badge-dark">{{ d.1.device_state.state }}</label></td>
                {% elif d.1.device_state.state == '借出' %}
                    <td><label class="badge badge-dark">{{ d.1.device_state.state }}</label></td>
                {% elif d.1.device_state.state == '租赁' %}
                    <td><label class="badge badge-dark">{{ d.1.device_state.state }}</label></td>
                {% elif d.1.device_state.state == '测试中' %}
                    <td><label class="badge badge-dark">{{ d.1.device_state.state }}</label></td>
                {% endif %}
            </tr>
            {% endfor %}
            <script>
                var id_ls = [];
                function check_choose(id) {
                    var this_tr = $('#'+id);
                    var bool = this_tr.hasClass('table-success');
                    console.log(bool);
                    if (bool === false){
                        this_tr.addClass('table-success');
                        id_ls.push(id);
                    }
                    if (bool === true){
                        this_tr.removeClass('table-success');
                        id_ls.remove(id);
                    }
                    console.log(id_ls);
                {#    $.ajax({#}
                {#        url: '/demand_choose/',#}
                {#        type: 'post',#}
                {#        data: {#}
                {#            'id_ls': id_ls,#}
                {#            'csrfmiddlewaretoken': $("[name='csrfmiddlewaretoken']").val()#}
                {#        },#}
                {#        success: function choosed(res) {#}
                            {#$('#'+id).addClass('table-success')#}
                {#            console.log(res)#}
                {#        },#}
                {#        error: function (err) {#}
                {#            alert('error')#}
                {#        }#}
                {#    }#}
                {#    )#}
                 }
            </script>
        </table>
    </div>

{% endblock %}