<div id="modal-content" class="row">
    <div class="col-md-5" style="padding: 20px">
        <div>
            <div style="display: inline-block;">
                <img class="img-xs rounded-circle ml-2" src="/static/device_manage/images/faces-clipart/pic-1.png" alt="Profile image">
                <span style="font-size: 13px">管理员</span>
                <div>
                    <span style="font-size: 10px">已接收-2019/12/30</span>
                </div>
            </div>
        </div>
        <div class="left-border"></div>
        <div>
            <div style="display: inline-block;">
                <img class="img-xs rounded-circle ml-2" src="/static/device_manage/images/faces-clipart/pic-1.png" alt="Profile image">
                <span style="font-size: 13px">管理员</span>
                <div>
                    <span style="font-size: 10px">正在分配-2019/12/30</span>
                </div>
            </div>
        </div>
        <div class="left-border"></div>
        <div>
            <div style="display: inline-block;">
                <img class="img-xs rounded-circle ml-2" src="/static/device_manage/images/faces-clipart/pic-1.png" alt="Profile image">
                <span style="font-size: 13px"><a href="#">测试详情</a></span>
                <div>
                    <span style="font-size: 10px">测试中-2019/12/30</span>
                </div>
            </div>
        </div>
        <div class="left-border"></div>
        <div>
            <div style="display: inline-block;">
                <img class="img-xs rounded-circle ml-2" src="/static/device_manage/images/faces-clipart/pic-1.png" alt="Profile image">
                <span style="font-size: 13px"><a href="#">测试详情</a></span>
                <div>
                    <span style="font-size: 10px">已完成-2019/12/30</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-7">详细</div>
</div>